.fancybox__container {
	max-width: 100% !important;
	padding: 0 !important;
}

.fancybox__slide {
	padding: 0;
	@media (min-width: $md4) {
		padding: 1.25rem;
	}
}

.fancybox__backdrop {
	background: rgba($color: #272a2d, $alpha: 0.8);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
}

.fancybox__content {
	color: inherit;
	background: none;
	padding: 0;
}

.fancybox__content :focus:not(.carousel__button.is-close) {
	outline: none;
}

.f-button.is-close-button {
	--f-close-button-svg-stroke-width: #{rem(2)};
	--f-close-button-color: #{rgba(#fff, 1)};
	--f-close-button-hover-color: #{$accent};
	--f-close-button-width: #{2.5rem};
	--f-close-button-height: #{2.5rem};
	--f-close-button-svg-width: #{rem(24)};
	--f-close-button-svg-height: #{rem(24)};
	top: rem(4);
	right: rem(4);
	@media (min-width: $md4) {
		top: rem(18);
		right: rem(26);
		--f-close-button-width: #{rem(52)};
		--f-close-button-height: #{rem(52)};
		--f-close-button-svg-width: #{rem(32)};
		--f-close-button-svg-height: #{rem(32)};
	}
}

.fancybox__dialog *:empty {
	display: inherit;
}

.popup {
	display: none;
	flex-direction: column;
	border-radius: 0.5rem;
	background-color: #6b806f;
	color: #fff;
	padding: 2.5rem 1rem;
	max-width: 100%;
	&.popup--large {
		max-width: rem(1328);
		width: 100%;
		border-radius: 1rem;
		border: rem(1) solid #fff;
		align-items: flex-start;
		text-align: left;
		z-index: 1;
		background:
			url("@img/programms-modal-decor.svg") 100% 0 / auto no-repeat,
			#252f28;
		.popup__title {
			text-align: left;
		}
	}
	@media (min-width: $md4) {
		padding: 4rem;
		max-width: rem(624);
	}

	// .popup__btn
	&__btn {
		margin-top: 1.5rem;
		@media (min-width: $md5) {
			margin-top: 2.62rem;
		}
		&[data-fancybox-close] {
			align-self: center;
		}
	}
	// .popup__order
	&__order {
		margin-top: 1.5rem;
		max-width: rem(208);
		width: 100%;
		@media (min-width: $md5) {
			margin-top: 2.5rem;
		}
		&[data-fancybox-close] {
			align-self: center;
		}
	}
	// .popup__title
	&__title {
		text-align: center;
	}
	// .popup__subtitle
	&__subtitle {
		margin-top: 1.5rem;
		font-size: 1rem;
		line-height: 140%;
		text-align: center;
	}
	&__form {
		margin-top: 1.5rem;
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	// .popup__price
	&__price {
	}
	// .popup__btn
	&__btn {
	}
	// .popup__programms
	&__programms {
		margin-top: 3.75rem;
	}
	// .popup__programms-block
	&__programms-block {
		&:not(:last-child) {
			margin-bottom: rem(50);
		}
	}
	// .popup__programms-caption
	&__programms-caption {
		font-size: 1.125rem;
		font-weight: 500;
		line-height: 140%;
		text-transform: uppercase;
		max-width: 48.25rem;
	}
	// .popup__programms-items
	&__programms-items {
		margin-top: 2rem;
		column-gap: 1.75rem;

		@media (min-width: $md5) {
			columns: 2;
		}
		@media (min-width: $md3) {
			columns: 3;
			&--small {
				columns: 2;
			}
		}
	}
	// .popup__programms-item
	&__programms-item {
		margin-bottom: 2rem;
		break-inside: avoid;
	}
	// .popup__programms-list
	&__programms-list {
		list-style: disc;
		padding-left: 1.125em;
		color: #dbdbdb;
		&:not(:first-child) {
			margin-top: 1rem;
		}
		& li {
			&::marker {
				font-size: 0.75em;
			}
		}
		&:not(:last-child) {
			margin-bottom: 1em;
		}
	}
}
