.fancybox__container {
	max-width: 100% !important;
	padding: 0 !important;
}

.fancybox__slide {
	padding: 0;
	@media (min-width: $md4) {
		padding: 1.25rem;
	}
}

.fancybox__backdrop {
	background: rgba($color: #272a2d, $alpha: 0.8);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
}

.fancybox__content {
	color: inherit;
	background: none;
	padding: 0;
}

.fancybox__content :focus:not(.carousel__button.is-close) {
	outline: none;
}

.f-button.is-close-button {
	--f-close-button-svg-stroke-width: #{rem(2)};
	--f-close-button-color: #{rgba(#272a2d, 1)};
	--f-close-button-hover-color: #{$accent};
	--f-close-button-width: #{2.5rem};
	--f-close-button-height: #{2.5rem};
	--f-close-button-svg-width: #{rem(24)};
	--f-close-button-svg-height: #{rem(24)};
	top: rem(4);
	right: rem(4);
	@media (min-width: $md5) {
		top: rem(18);
		right: rem(26);
		--f-close-button-width: #{rem(52)};
		--f-close-button-height: #{rem(52)};
		--f-close-button-svg-width: #{rem(32)};
		--f-close-button-svg-height: #{rem(32)};
	}
}

.fancybox__dialog *:empty {
	display: inherit;
}

.popup {
	display: none;
	flex-direction: column;
	border-radius: 0.5rem;
	background-color: #e6e4dc;
	color: #272a2d;
	padding: 2.5rem 1rem;
	max-width: 100%;
	@media (min-width: $md4) {
		padding: 4rem;
		max-width: rem(624);
	}
	@media (min-width: $md3) {
		max-width: 50rem;
		padding: 5rem;
	}

	// .popup__btn
	&__btn {
		margin-top: 1.5rem;
		@media (min-width: $md5) {
			margin-top: 2.62rem;
		}
		&[data-fancybox-close] {
			align-self: center;
		}
	}
	// .popup__title
	&__title {
	}
	// .popup__subtitle
	&__subtitle {
		line-height: 130%;
		margin-top: 1.5rem;
		font-size: 0.875rem;
		@media (min-width: $md5) {
			font-weight: 600;
			font-size: 1rem;
		}
		@media (min-width: $md3) {
			margin-top: 1.75rem;
			font-size: 1.25rem;
			line-height: 150%;
		}
	}
	// .popup__contacts
	&__contacts {
		margin-top: 2.5rem;
		display: flex;
		align-items: center;
		gap: 4rem;
		row-gap: 1rem;
		flex-wrap: wrap;
	}
	// .popup__phone
	&__phone {
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: $accent;
			}
		}
	}
	// .popup__socials
	&__socials {
	}
	&__btn {
		max-width: 25.5rem;
	}
	&__article {
		margin-top: 2rem;
	}
}
