.programms {
	// .programms__title
	&__title {
	}
	// .programms__tabs
	&__tabs {
		margin-top: 3.75rem;
		display: grid;
		gap: 1rem;
		@media (min-width: $md4) {
			grid-template-columns: repeat(3, 1fr);
		}
	}
	// .programms__tab
	&__tab {
		color: #919191;
		font-size: 1.25rem;
		padding: 1rem;
		border-bottom: rem(1) solid;
		transition: color 0.3s ease;
		&.active {
			color: #fff;
		}
		@media (any-hover: hover) {
			&:hover {
				color: #fff;
			}
		}
	}
	// .programms__content
	&__content {
		margin-top: 3.75rem;
	}
	// .programms__block
	&__block {
		display: none;
		&.active {
			display: block;
		}
	}
	// .programms__desc
	&__desc {
		color: #dbdbdb;
		font-size: 1rem;
		line-height: 140%;

		& ul {
			list-style: disc;
			padding-left: 1.125em;
			& li {
				&::marker {
					font-size: 0.75em;
				}
			}
			&:not(:last-child) {
				margin-bottom: 1em;
			}
		}
		& p {
			&:not(:last-child) {
				margin-bottom: 1em;
			}
		}
		& strong {
			text-transform: uppercase;
			font-size: 1.125em;
			font-weight: 500;
		}
	}
	// .programms__cards
	&__cards {
		margin-top: 3.75rem;
	}
	// .programms__cards-block
	&__cards-block {
		&:not(:last-child) {
			margin-bottom: 5rem;
		}
	}
	// .programms__card
	&__card {
		border-radius: 1rem;
		background: #6b806f;
		height: 100%;
		padding: 2.5rem 2rem;
	}
	// .programms__card-title
	&__card-title {
		color: #ceb388;
		font-size: 1.5rem;
		font-weight: 600;
		line-height: 140%;
		text-transform: uppercase;
	}
	// .programms__card-subtitle
	&__card-subtitle {
		padding-left: 1.5em;
		font-size: 1rem;
		line-height: 140%;
		list-style: disc;
		padding-left: 1.5em;
		& li {
			&::marker {
				font-size: 0.75em;
			}
		}
	}
	// .programms__card-desc
	&__card-desc {
		margin-top: 2rem;
		font-size: 1rem;
		line-height: 140%;
	}
	// .programms__card-btn
	&__card-btn {
		margin-top: 2rem;
	}
	// .programms__card-price
	&__card-price {
		margin-top: 2rem;
		font-size: 1.25rem;
		font-weight: 500;
		display: flex;
		align-items: center;
		gap: 1rem;
		row-gap: 0.25rem;
		flex-wrap: wrap;
		& span {
			white-space: nowrap;
			color: #ceb388;
			font-size: 2rem;
			font-weight: 600;
			line-height: 140%;
			text-transform: uppercase;
		}
	}
	// .programms__cards-caption
	&__cards-caption {
		margin-bottom: 2rem;
	}
}
