.services {
	.section-header {
		padding-left: 0;
	}
	// .services__prev
	&__prev {
		@media (max-width: $md5) {
			display: none !important;
		}
	}
	// .services__next
	&__next {
		@media (max-width: $md5) {
			display: none !important;
		}
	}
	// .services__slider
	&__slider {
		margin-top: 1.75rem;
		overflow: visible;
	}
	&__pagination {
		@media (min-width: $md5) {
			display: none !important;
		}
	}
}

.service-card {
	border-radius: 1rem;
	background: #6b806f;
	display: flex;
	flex-direction: column;
	padding: 1.5rem;
	transition: background-color 0.3s ease;
	@media (any-hover: hover) {
		&:hover {
			background-color: #425045;
			.service-card__header {
				&::before {
					opacity: 1;
				}
			}
			.service-card__header-hover-text {
				opacity: 1;
				visibility: visible;
			}
		}
	}
	&.swiper-slide {
		height: auto;
	}
	// .service-card__header
	&__header {
		border-radius: 1rem;
		background: #fff;
		aspect-ratio: math.div(24, 20);
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: 1rem;
			background: rgba($color: #252f28, $alpha: 0.7);
			opacity: 0;
			transition: opacity 0.3s ease;
		}
		& img {
			max-height: 20rem;
		}
	}
	// .service-card__header-hover-text
	&__header-hover-text {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 1.125rem;
		font-weight: 500;
		line-height: 140%;
		text-transform: uppercase;
		opacity: 0;
		visibility: hidden;
		transition: all 0.3s ease;
	}
	// .service-card__body
	&__body {
		margin-top: 1.5rem;
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;
		gap: 1.5rem;
	}
	// .service-card__meta
	&__meta {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		min-height: 3.125rem;
	}
	// .service-card__name
	&__name {
		font-size: 1.125rem;
		font-weight: 500;
		line-height: 140%;
		text-transform: uppercase;
	}
	// .service-card__price
	&__price {
		font-size: 1.125rem;
		font-weight: 500;
		line-height: 140%;
		text-transform: uppercase;
		flex-shrink: 0;
	}
	// .service-card__indications
	&__indications {
		flex: 1 1 auto;
	}
	// .service-card__indications-title
	&__indications-title {
		color: #dbdbdb;
		font-size: 1rem;
		font-weight: 600;
		line-height: 140%;
	}
	// .service-card__list
	&__list {
		margin-top: 0.375rem;
		font-size: 1rem;
		display: flex;
		flex-direction: column;
		& span {
			position: relative;
			line-height: 140%;
			padding-left: 1.375em;
			&::before {
				content: "";
				position: absolute;
				top: 0.5em;
				left: 0.25rem;
				width: 0.25rem;
				height: 0.25rem;
				border-radius: 50%;
				background: currentColor;
			}
			&:not(:last-child) {
				margin-bottom: 0.5rem;
			}
		}
	}
	// .service-card__more
	&__more {
		&.btn {
			font-size: 1.125rem;
			min-height: rem(54);
			font-weight: 500;
		}
	}
}
