.services {
	&:not(.services-main) {
		.section-header {
			padding-left: 0;
		}
	}

	// .services__prev
	&__prev {
		@media (max-width: $md5) {
			display: none !important;
		}
	}

	// .services__next
	&__next {
		@media (max-width: $md5) {
			display: none !important;
		}
	}

	// .services__slider
	&__slider {
		margin-top: 1.75rem;
		overflow: visible;
	}

	&__pagination {
		@media (min-width: $md5) {
			display: none !important;
		}
	}

	// .services__block
	&__blocks {
		&:not(:first-child) {
			margin-top: 5rem;
		}
	}

	// .services__block
	&__block {
		&:not(:last-child) {
			margin-bottom: 5rem;
		}
	}
}

.service-card {
	border-radius: 1rem;
	background: #6b806f;
	display: flex;
	flex-direction: column;
	padding: 1.5rem;
	transition: background-color 0.3s ease;

	@media (any-hover: hover) {
		&:hover {
			background-color: #425045;

			.service-card__header {
				&::before {
					opacity: 1;
				}
			}

			.service-card__header-hover-text {
				opacity: 1;
				visibility: visible;
			}
		}
	}

	&.swiper-slide {
		height: auto;
	}

	// .service-card__header
	&__header {
		border-radius: 1rem;
		background: #fff;
		aspect-ratio: math.div(24, 20);
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		overflow: hidden;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: 1rem;
			background: rgba($color: #252f28, $alpha: 0.7);
			opacity: 0;
			transition: opacity 0.3s ease;
		}

		& img {
			max-height: 20rem;
			width: auto;
		}
	}

	// .service-card__header-hover-text
	&__header-hover-text {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 1.125rem;
		font-weight: 500;
		line-height: 140%;
		text-transform: uppercase;
		opacity: 0;
		visibility: hidden;
		transition: all 0.3s ease;
	}

	// .service-card__body
	&__body {
		margin-top: 1.1rem;
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;
		gap: 1.1rem;
	}

	// .service-card__meta
	&__meta {
		display: flex;
		align-items: flex-start;
		min-height: 3.125rem;
		flex-direction: column;
	}

	// .service-card__name
	&__name {
		font-size: 1.125rem;
		font-weight: 500;
		line-height: 140%;
		text-transform: uppercase;
	}

	// .service-card__price
	&__price {
		font-size: 1.125rem;
		font-weight: 500;
		line-height: 140%;
		flex-shrink: 0;
	}

	// .service-card__indications
	&__indications {
		flex: 1 1 auto;
	}

	// .service-card__indications-title
	&__indications-title {
		color: #dbdbdb;
		font-size: 1.125rem;
		font-weight: 500;
		line-height: 140%;
	}

	// .service-card__list
	&__list {
		margin-top: 0.375rem;
		font-size: rem(14);
		display: flex;
		flex-direction: column;

		& span {
			position: relative;
			line-height: 140%;
			padding-left: 1.375em;

			&::before {
				content: "";
				position: absolute;
				top: 0.5em;
				left: 0.25rem;
				width: 0.25rem;
				height: 0.25rem;
				border-radius: 50%;
				background: currentColor;
			}

			&:not(:last-child) {
				margin-bottom: 0.25rem;
			}
		}
	}

	// .service-card__more
	&__more {
		margin-top: auto;

		&.btn {
			font-size: rem(14);
			min-height: rem(36);
			font-weight: 500;
		}
	}
}

.droppers-benefits {

	// .droppers-benefits__title
	&__title {}

	// .droppers-benefits__subtitle
	&__subtitle {
		margin-top: 0.5rem;
		color: #dbdbdb;
		font-size: 1rem;
		line-height: 140%;
	}

	// .droppers-benefits__content
	&__content {
		margin-top: 2rem;
	}

	// .droppers-benefits__list
	&__list {}

	// .droppers-benefits__item
	&__item {
		position: relative;
		min-height: 11.25rem;

		&::before {
			position: absolute;
			top: 1rem;
			right: 2rem;
			color: #dbdbdb;
		}
	}

	// .droppers-benefits__card
	&__card {
		height: 100%;
		border-radius: 1rem;
		background-color: #6b806f;
		padding: 1.5rem 2rem;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		background-repeat: no-repeat;
		background-size: auto;

		&--decor-bottom {
			background-position: bottom right;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='208' height='141' viewBox='0 0 208 141' fill='none'%3E%3Cpath opacity='0.1' d='M67.0285 24.6126C97.2116 -0.0455049 163.614 -7.03195 201.041 28.7222M7.06638 156.533C-2.99465 121.19 11.8957 64.0655 48.9203 38.5855M206.677 235.85C206.677 235.85 181.726 170.506 126.994 156.533C75.8837 143.382 15.5175 175.849 15.5175 175.849C15.5175 175.849 38.0543 239.549 96.0058 255.987C162.006 274.481 206.677 235.85 206.677 235.85ZM206.677 235.85L206.677 115.025M154.361 168.862C154.361 168.862 148.324 126.532 166.434 94.477C183.337 64.4764 215.532 43.517 215.532 43.517C215.532 43.517 269.459 84.6138 255.776 152.834C244.105 209.137 207.081 235.439 207.081 235.439L85.5437 197.63M77.8915 54.2023C77.8915 54.2023 105.66 60.7777 121.758 79.6823C139.867 101.053 136.648 140.094 136.648 140.094C136.648 140.094 104.453 131.875 89.1599 109.272C75.0744 87.9016 77.8915 54.2023 77.8915 54.2023Z' stroke='white' stroke-width='8' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
		}

		&--decor-top {
			background-position: top right;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='175' height='154' viewBox='0 0 175 154' fill='none'%3E%3Cpath opacity='0.1' d='M194.973 -86.3874C164.79 -111.046 98.3868 -118.032 60.9598 -82.2778M254.935 45.5332C264.996 10.19 250.106 -46.9345 213.081 -72.4145M55.3241 124.85C55.3241 124.85 80.2755 59.5061 135.007 45.5332C186.117 32.3822 246.484 64.8487 246.484 64.8487C246.484 64.8487 223.947 128.549 165.995 144.987C99.9951 163.481 55.3241 124.85 55.3241 124.85ZM55.3241 124.85L55.3239 4.02541M107.64 57.8622C107.64 57.8622 113.677 15.5325 95.5669 -16.523C78.6644 -46.5236 46.4691 -67.483 46.4691 -67.483C46.4691 -67.483 -7.45803 -26.3862 6.22497 41.8344C17.8958 98.137 54.9203 124.439 54.9203 124.439L176.458 86.6299M184.11 -56.7977C184.11 -56.7977 156.341 -50.2223 140.244 -31.3177C122.134 -9.94742 125.353 29.0945 125.353 29.0945C125.353 29.0945 157.549 20.8752 172.841 -1.72807C186.927 -23.0984 184.11 -56.7977 184.11 -56.7977Z' stroke='white' stroke-width='8' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
		}
	}

	// .droppers-benefits__card-caption
	&__card-caption {
		font-size: 1.125rem;
		font-weight: 500;
		line-height: 140%;
		text-transform: uppercase;
	}

	// .droppers-benefits__card-desc
	&__card-desc {
		margin-top: 0.5rem;
		max-width: 25.9375rem;
		color: #dbdbdb;
		font-size: 1rem;
		line-height: 140%;
	}

	// .droppers-benefits__image
	&__image {
		height: 100%;
		border-radius: 1rem;
		overflow: hidden;
	}
}