.service {
	padding: rem(30) 0 0;
	@media (min-width: $md4) {
		padding: rem(60) 0 0;
	}
	.container {
		position: relative;
		&::before {
			content: "";
			position: absolute;
			top: 45%;
			transform: translateY(-50%);
			right: 1rem;
			width: 18.5625rem;
			height: 18.8125rem;
			z-index: -1;
			pointer-events: none;
			background: url("@img/decor/hero-decor.svg") center / contain no-repeat;
		}
		&::after {
			content: "";
			position: absolute;
			top: 15%;
			transform: translateY(-50%);
			right: -12rem;
			width: 32.8125rem;
			height: 32.8125rem;
			border-radius: 32.8125rem;
			opacity: 0.1;
			background: #86e298;
			z-index: -1;
			pointer-events: none;
			filter: blur(rem(100));
		}
	}
	// .service__header
	&__header {
	}
	// .service__title
	&__title {
	}
	// .service__subtitle
	&__subtitle {
		font-weight: 500;
		max-width: 50.375rem;
		&--large {
			max-width: 61.9375rem;
		}
		&:not(:first-child) {
			margin-top: 1rem;
		}
		@media (min-width: $md4) {
			font-size: 1.25rem;
		}
	}
	// .service__body
	&__body {
		&:not(:first-child) {
			margin-top: 1.5rem;
			@media (min-width: $md4) {
				margin-top: 3.75rem;
			}
		}
		.row {
			align-items: flex-end;
			&:has(.service__main) {
				align-items: stretch;
			}
		}
		.service__subtitle {
			max-width: rem(580);
			line-height: 140%;
		}
		&--blured {
			position: relative;
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 50%;
				transform: translateX(-50%);
				border-radius: 50%;
				z-index: -1;
				pointer-events: none;
				opacity: 0.15;
				background: #86e298;
				filter: blur(100px);
				width: 35.1875rem;
				height: 35.1875rem;
			}
		}
	}
	// .service__main
	&__main {
		display: flex;
		flex-direction: column;
		height: 100%;
		align-items: flex-start;
		gap: 1.25rem;
		@media (min-width: $md4) {
			gap: 2.5rem;
		}
		.service__desc {
			margin-bottom: auto;
		}
		.service__info {
			width: 100%;
		}
		.service__list {
			max-width: 100%;
			margin-top: 0;
			margin-bottom: auto;
		}
	}
	// .service__caption
	&__caption {
		color: #ceb388;
		font-size: 1.25rem;
		font-weight: 600;
		line-height: 140%;
		text-transform: uppercase;
		&--small {
			font-size: 1.125rem;
		}
	}
	// .service__list
	&__list {
		margin-top: 1.25rem;
		max-width: rem(560);
		&.service__list--large {
			max-width: 100%;
			& li {
				@media (min-width: $md4) {
					font-size: rem(20);
				}
			}
		}
		& li {
			font-weight: 500;
			line-height: 140%;
			position: relative;
			padding-left: em(2.6, 1.125);
			@media (min-width: $md4) {
				font-size: 1.125rem;
			}
			&:not(:last-child) {
				margin-bottom: 0.65rem;
			}
			&::before {
				position: absolute;
				top: 0;
				left: 0;
				color: #6b806f;
				width: 1.375rem;
				height: 1.375rem;
				font-size: 1.375rem;
				@media (min-width: $md4) {
					width: 1.5rem;
					font-size: 1.5rem;
					height: 1.5rem;
				}
				display: flex;
				justify-content: center;
				align-items: center;
				@extend %ic, .icon-flower;
			}
		}
	}
	// .service__info
	&__info {
		height: 100%;
		display: grid;
		gap: 1rem;
		&.service__info--column {
			@media (min-width: $md3) {
				grid-template-columns: 1fr;
				gap: 2.5rem;
			}
		}
		&.service__info--alternate {
			align-items: end;
			.service__price {
				border: 0;
				padding: 0;
				border-radius: 0;
				text-align: left;
				align-items: flex-start;
			}
			.service__btn {
				min-height: 5.6875rem;
			}
			.service__price-title {
				color: #ceb388;
			}
		}
		.service__btn {
			min-height: 7rem;
		}
		@media (min-width: $md2) {
			grid-template-columns: repeat(2, 1fr);
		}
	}
	// .service__price
	&__price {
		text-align: center;
		border: rem(1) solid #ceb388;
		border-radius: 1rem;
		padding: 1.06rem 1rem 1.5rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 0.5rem;
	}
	// .service__price-title
	&__price-title {
		font-size: 1.25rem;
		font-weight: 500;
	}
	// .service__price-steps
	&__price-steps {
		font-size: 1.25rem;
		font-weight: 500;
	}
	// .service__price-step
	&__price-step {
		& strong {
			font-size: 2rem;
			font-weight: 600;
			white-space: nowrap;
		}
	}
	// .service__price-value
	&__price-value {
		font-size: 2rem;
		font-weight: 600;
		& small {
			font-size: em(1.25, 2);
			font-weight: 500;
			color: #dbdbdb;
		}
	}
	// .service__price-hint
	&__price-hint {
		color: #ceb388;
		font-size: 1.125rem;
		font-weight: 500;
	}
	// .service__btn
	&__btn {
	}
	// .service__desc
	&__desc {
		font-weight: 500;
		line-height: 140%;

		& p {
			&:not(:last-child) {
				margin-bottom: 1em;
			}
		}
		&.service__desc--small {
			font-size: 1rem;
			font-weight: 400;
		}
		@media (min-width: $md4) {
			font-size: 1.25rem;
		}
	}
	// .service__image
	&__image {
		height: 100%;
		& img {
			border-radius: 1rem;
		}
	}
	// .service__def
	&__def {
		line-height: 140%;
		& strong {
			font-size: 1.25rem;
			font-weight: 600;
		}
	}
	// .service__start-price
	&__start-price {
		margin-top: auto;
		font-size: 1.25rem;
		font-weight: 600;
	}
}

.description {
	// .description__image
	&__image {
		& img {
			border-radius: 1rem;
		}
		@media (min-width: $md3) {
			height: 100%;
			position: relative;
			& img {
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
			}
		}
	}
	// .description__main
	&__main {
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}
	// .description__title
	&__title {
		&.title {
			@media (min-width: $md4) {
				font-size: 2rem;
				line-height: 140%;
			}
		}
	}
	// .description__list
	&__list {
		flex: 1 1 auto;
	}
	// .description__item
	&__item {
		border-radius: 1rem;
		background: #6b806f;
		padding: 1.5rem rem(30);
		&:not(:last-child) {
			margin-bottom: 1rem;
		}
	}
	// .description__item-caption
	&__item-caption {
		font-size: 1.125rem;
		font-weight: 500;
		line-height: 140%;
		text-transform: uppercase;
	}
	// .description__item-body
	&__item-body {
		color: #dbdbdb;
		font-size: 1rem;
		line-height: 140%;
	}
	// .description__footer
	&__footer {
		color: #dbdbdb;
		& span {
			font-size: 1.125rem;
			font-weight: 500;
			line-height: 140%;
			text-transform: uppercase;
		}
	}
	// .description__dropper
	&__dropper {
		position: relative;
		padding-top: 1.25rem;
		padding-left: 1rem;
		& img {
			max-width: 93%;
		}
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 44.625rem;
			height: 44.625rem;
			border-radius: 50%;
			opacity: 0.15;
			filter: blur(rem(100));
			background: #86e298;
			z-index: -1;
			pointer-events: none;
		}
		&::after {
			content: "";
			position: absolute;
			bottom: -2rem;
			left: -6rem;
			width: 21.875rem;
			height: 22.125rem;
			background: url("@img/decor/dropper-decor.svg") center / contain no-repeat;
			z-index: -1;
			pointer-events: none;
		}
	}
}
