.service {
	padding: rem(30) 0 0;
	@media (min-width: $md4) {
		padding: rem(60) 0 0;
	}
	&.service--no-decor {
		.container {
			&::before,
			&::after {
				display: none;
			}
		}
	}
	&.service--decor-start {
		.container {
			&::before {
				right: auto;
				left: 5.5rem;
				top: 66.66%;
				width: 19.625rem;
				height: 19.875rem;
			}
			&::after {
				right: auto;
				top: 66.66%;
				width: 32.8125rem;
				height: 32.8125rem;
				left: 6.44rem;
			}
		}
	}
	&:has(.service__contacts) {
		.container {
			&::before {
				top: 25%;
				right: 2.5rem;
			}
		}
	}
	.container {
		position: relative;
		&::before {
			content: "";
			position: absolute;
			top: 45%;
			transform: translateY(-50%);
			right: 1rem;
			width: 18.5625rem;
			height: 18.8125rem;
			z-index: -1;
			pointer-events: none;
			background: url("@img/decor/hero-decor.svg") center / contain no-repeat;
		}
		&::after {
			content: "";
			position: absolute;
			top: 15%;
			transform: translateY(-50%);
			right: -12rem;
			width: 32.8125rem;
			height: 32.8125rem;
			border-radius: 32.8125rem;
			opacity: 0.1;
			background: #86e298;
			z-index: -1;
			pointer-events: none;
			filter: blur(rem(100));
		}
	}
	// .service__header
	&__header {
	}
	// .service__title
	&__title {
	}
	// .service__subtitle
	&__subtitle {
		font-weight: 500;
		max-width: 50.375rem;
		&--large {
			max-width: 61.9375rem;
		}
		&.service__subtitle--extralarge {
			text-transform: uppercase;
			@media (min-width: $md4) {
				font-size: 1.5rem;
				font-weight: 600;
				line-height: 140%;
				&:not(:first-child) {
					margin-top: 2.25rem;
				}
			}
		}
		&:not(:first-child) {
			margin-top: 1rem;
		}
		@media (min-width: $md4) {
			font-size: 1.25rem;
		}
	}
	// .service__body
	&__body {
		&:not(:first-child) {
			margin-top: 1.5rem;
			@media (min-width: $md4) {
				margin-top: 3.75rem;
			}
		}
		.row {
			align-items: flex-end;
			&:has(.service__main) {
				align-items: stretch;
			}
		}
		.service__subtitle {
			max-width: rem(580);
			line-height: 140%;
		}
		&--blured {
			position: relative;
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 50%;
				transform: translateX(-50%);
				border-radius: 50%;
				z-index: -1;
				pointer-events: none;
				opacity: 0.15;
				background: #86e298;
				filter: blur(rem(100));
				width: 35.1875rem;
				height: 35.1875rem;
			}
		}
	}
	// .service__main
	&__main {
		display: flex;
		flex-direction: column;
		height: 100%;
		align-items: flex-start;
		gap: 1.25rem;
		@media (min-width: $md4) {
			gap: 2.5rem;
		}
		.service__desc {
			margin-bottom: auto;
		}
		.service__info {
			width: 100%;
		}
		.service__list {
			max-width: 100%;
			margin-top: 0;
			margin-bottom: auto;
		}
		&.service__main--small {
			gap: 2rem;
			max-width: 33.75rem;
		}
	}
	// .service__caption
	&__caption {
		color: #ceb388;
		font-size: 1.25rem;
		font-weight: 600;
		line-height: 140%;
		text-transform: uppercase;
		&--small {
			font-size: 1.125rem;
		}
	}
	// .service__list
	&__list {
		margin-top: 1.25rem;
		max-width: rem(560);
		&.service__list--large {
			max-width: 100%;
			& li {
				@media (min-width: $md4) {
					font-size: rem(20);
				}
			}
		}
		& li {
			font-weight: 500;
			line-height: 140%;
			position: relative;
			padding-left: em(2.6, 1.125);
			@media (min-width: $md4) {
				font-size: 1.125rem;
			}
			&:not(:last-child) {
				margin-bottom: 0.65rem;
			}
			&::before {
				position: absolute;
				top: 0;
				left: 0;
				color: #6b806f;
				width: 1.375rem;
				height: 1.375rem;
				font-size: 1.375rem;
				@media (min-width: $md4) {
					width: 1.5rem;
					font-size: 1.5rem;
					height: 1.5rem;
				}
				display: flex;
				justify-content: center;
				align-items: center;
				@extend %ic, .icon-flower;
			}
		}
		& + .service__desc {
			margin-top: 2rem;
		}
	}
	// .service__info
	&__info {
		height: 100%;
		display: grid;
		gap: 1rem;
		&.service__info--column {
			@media (min-width: $md3) {
				grid-template-columns: 1fr;
				gap: 2.5rem;
			}
		}
		&.service__info--alternate {
			align-items: end;
			.service__price {
				border: 0;
				padding: 0;
				border-radius: 0;
				text-align: left;
				align-items: flex-start;
			}
			.service__btn {
				min-height: 5.6875rem;
			}
			.service__price-title {
				color: #ceb388;
			}
		}
		.service__btn {
			min-height: 7rem;
		}
		@media (min-width: $md2) {
			grid-template-columns: repeat(2, 1fr);
		}
	}
	// .service__price
	&__price {
		text-align: center;
		border: rem(1) solid #ceb388;
		border-radius: 1rem;
		padding: 1.06rem 1rem 1.5rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 0.5rem;
	}
	// .service__price-title
	&__price-title {
		font-size: 1.25rem;
		font-weight: 500;
	}
	// .service__price-steps
	&__price-steps {
		font-size: 1.25rem;
		font-weight: 500;
	}
	// .service__price-step
	&__price-step {
		& strong {
			font-size: 2rem;
			font-weight: 600;
			white-space: nowrap;
		}
	}
	// .service__price-value
	&__price-value {
		font-size: 2rem;
		font-weight: 600;
		& small {
			font-size: em(1.25, 2);
			font-weight: 500;
			color: #dbdbdb;
		}
	}
	// .service__price-hint
	&__price-hint {
		color: #ceb388;
		font-size: 1.125rem;
		font-weight: 500;
	}
	// .service__btn
	&__btn {
	}
	// .service__desc
	&__desc {
		font-weight: 500;
		line-height: 140%;

		& p {
			&:not(:last-child) {
				margin-bottom: 1em;
			}
		}
		&.service__desc--small {
			font-size: 1rem;
			font-weight: 400;
		}
		&.service__desc--medium {
			font-size: 1.125rem;
		}
		@media (min-width: $md4) {
			font-size: 1.25rem;
		}
	}
	// .service__image
	&__image {
		height: 100%;
		& img {
			border-radius: 1rem;
		}
	}
	// .service__widget
	&__widget {
		height: 100%;
		border-radius: 1rem;
		overflow: hidden;
		// opacity: 0;
		& img,
		& iframe {
			width: 100%;
			border-radius: 1rem;
		}
	}
	// .service__def
	&__def {
		line-height: 140%;
		& strong {
			font-size: 1.25rem;
			font-weight: 600;
		}
	}
	// .service__start-price
	&__start-price {
		margin-top: auto;
		font-size: 1.25rem;
		font-weight: 600;
	}
	// .service__contacts
	&__contacts {
		margin-top: 2rem;
		.row {
			--gutter-y: 3rem;
		}
	}
	// .service__contacts-column
	&__contacts-column {
		@media (min-width: $md3) {
			padding-top: 2.06rem;
		}
	}
	// .service__map
	&__map {
		position: relative;
		overflow: hidden;
		border-radius: 1rem;
		display: block;
		& iframe {
			width: 100%;
		}
	}
	// .service__map-btn
	&__map-btn {
		position: absolute;
		bottom: 2rem;
		left: 2.5rem;
	}

	// .service__contacts-location
	&__contacts-location {
		display: flex;
		align-items: center;
		font-weight: 600;
		line-height: 140%;
		gap: 1rem;
		font-size: 1.25rem;
		@media (min-width: $md2) {
			font-size: 1.5rem;
		}
		&::before {
			flex-shrink: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			color: #ceb388;
			width: 1.5rem;
			height: 1.5rem;
			font-size: 1.5rem;
			@media (min-width: $md2) {
				width: 2rem;
				height: 2rem;
				font-size: 2rem;
			}
		}
	}
	// .service__contacts-phone
	&__contacts-phone {
		margin-top: 2rem;
		display: flex;
		align-items: center;
		font-weight: 600;
		line-height: 140%;
		gap: 1rem;
		transition: color 0.3s ease;
		font-size: 1.25rem;
		@media (min-width: $md2) {
			font-size: 1.5rem;
		}
		&::before {
			width: 1.5rem;
			height: 1.5rem;
			font-size: 1.25rem;
			flex-shrink: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			color: #ceb388;
			@media (min-width: $md2) {
				width: 2rem;
				height: 2rem;
				font-size: 1.75rem;
			}
		}
		@media (any-hover: hover) {
			&:hover {
				color: $accent;
			}
		}
	}
	// .service__worktime
	&__worktime {
		margin-top: 1.31rem;
	}
	// .service__worktime-title
	&__worktime-title {
		color: #dbdbdb;
		font-size: 1.25rem;
		font-weight: 600;
	}
	// .service__worktime-text
	&__worktime-text {
		margin-top: 2rem;
		color: #fff;
		font-size: 1rem;
		line-height: 140%;
	}
	// .service__contacts-bts
	&__contacts-bts {
		margin-top: 2rem;
		display: flex;
		flex-direction: column;
		gap: 1rem;
		max-width: 17.0625rem;
	}
	// .service__contacts-btn
	&__contacts-btn {
		font-size: 1.125rem;
		font-weight: 500;
		line-height: 140%;
		padding: 0.5rem 1rem;
		gap: 0.5rem;
		justify-content: flex-start;
		&::before {
			font-size: 1.25rem;
		}
	}
	// .service__socials
	&__socials {
		margin-top: 4rem;
	}
	// .service__socials-title
	&__socials-title {
		font-size: 1.5rem;
		font-weight: 600;
		line-height: 140%;
		text-transform: uppercase;
	}
	// .service__socials-items
	&__socials-items {
		margin-top: 1.5rem;
		display: flex;
		gap: 1.5rem;
	}
	// .service__socials-item
	&__socials-item {
		font-size: 3rem;
		color: #ceb388;
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: darken($color: #ceb388, $amount: 10);
			}
		}
	}
}

.description {
	.row .col-lg-6 {
		display: flex;
		flex-direction: column;
	}
	// .description__image
	&__image {
		& img {
			border-radius: 1rem;
		}
		@media (min-width: $md3) {
			height: 100%;
			min-height: rem(520);
			position: relative;
			& img {
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
			}
		}
	}
	// .description__main
	&__main {
		display: flex;
		flex-direction: column;
		align-self: center;
		gap: 2rem;
		margin: auto;
		width: 100%;
	}
	// .description__title
	&__title {
		&.title {
			@media (min-width: $md4) {
				font-size: 2rem;
				line-height: 140%;
			}
		}
	}
	// .description__list
	&__list {
		flex: 1 1 auto;
	}
	// .description__item
	&__item {
		border-radius: 1rem;
		background: #6b806f;
		padding: 1.5rem rem(30);
		&:not(:last-child) {
			margin-bottom: 1rem;
		}
	}
	// .description__item-caption
	&__item-caption {
		font-size: 1.125rem;
		font-weight: 500;
		line-height: 140%;
		text-transform: uppercase;
	}
	// .description__item-body
	&__item-body {
		color: #dbdbdb;
		font-size: 1rem;
		line-height: 140%;
	}
	// .description__footer
	&__footer {
		color: #dbdbdb;
		& span {
			font-size: 1.125rem;
			font-weight: 500;
			line-height: 140%;
			text-transform: uppercase;
		}
	}
	&__text {
		& span {
			font-size: 1.125rem;
			font-weight: 500;
			line-height: 140%;
			text-transform: uppercase;
		}
		& p {
			&:not(:last-child) {
				margin-bottom: 1em;
			}
		}
	}
	// .description__dropper
	&__dropper {
		position: relative;
		padding-top: 1.25rem;
		padding-left: 1rem;
		display: flex;
		justify-content: center;
		align-items: center;
		@media (min-width: $md3) {
			position: sticky;
			top: rem(70);
		}
		& img {
			@media (min-width: $md3) {
				max-width: 50%;
			}
		}
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 44.625rem;
			height: 44.625rem;
			border-radius: 50%;
			opacity: 0.15;
			filter: blur(rem(100));
			background: #86e298;
			z-index: -1;
			pointer-events: none;
		}
		&::after {
			content: "";
			position: absolute;
			bottom: -2rem;
			left: -6rem;
			width: 21.875rem;
			height: 22.125rem;
			background: url("@img/decor/dropper-decor.svg") center / contain no-repeat;
			z-index: -1;
			pointer-events: none;
		}
	}
}

.steps {
	// .steps__title
	&__title {
	}
	// .steps__desc
	&__desc {
		margin-top: 2rem;
		line-height: 140%;
	}
	// .steps__content
	&__content {
		margin-top: 2rem;
	}
	// .steps__list
	&__list {
	}
	// .steps__list-item
	&__list-item {
		position: relative;
		min-height: rem(333);
		&::before {
			position: absolute;
			top: 1.5rem;
			right: 3rem;
			color: #dbdbdb;
			font-size: 1.125rem;
			font-weight: 500;
			line-height: 140%;
		}
	}
	// .steps__card
	&__card {
		border-radius: 1rem;
		background: #6b806f;
		display: flex;
		flex-direction: column;
		height: 100%;
		padding: 3.75rem 1.5rem 2.5rem;
		@media (min-width: $md4) {
			padding: 3.75rem 3.25rem 2.5rem 2.5rem;
		}
	}
	// .steps__card-title
	&__card-title {
		font-size: 1.125rem;
		font-weight: 500;
		line-height: 140%;
		text-transform: uppercase;
		padding-left: 1.25rem;
	}
	// .steps__card-list
	&__card-list {
		margin-top: 1rem;
		padding-left: 1.25em;
		list-style: disc;
		font-size: 1rem;
		line-height: 140%;
		& > li {
			&::marker {
				font-size: 0.75em;
			}
			&:not(:last-child) {
				margin-bottom: 0.375rem;
			}
			& ul {
				li {
					&::before {
						content: "-";
						margin-right: 0.25rem;
					}
				}
			}
		}
	}
}

.carousel {
	.section-header {
		padding-left: 0;
	}
	&.carousel--decor {
		position: relative;
		&::before {
			content: "";
			position: absolute;
			top: -10rem;
			right: -10rem;
			width: 30.625rem;
			height: 30.625rem;
			border-radius: 30.625rem;
			opacity: 0.15;
			background: #86e298;
			filter: blur(rem(100));
			z-index: -1;
			pointer-events: none;
		}
	}
	// .carousel__prev
	&__prev {
		@media (max-width: $md5) {
			display: none;
		}
	}
	// .carousel__next
	&__next {
		@media (max-width: $md5) {
			display: none;
		}
	}
	// .carousel__pagination
	&__pagination {
		@media (min-width: $md5) {
			display: none !important;
		}
	}
	// .carousel__slider
	&__slider {
		margin-top: rem(30);
		overflow: visible;
		.swiper-wrapper {
			&:not(.ordered-list) {
				.carousel__slide {
					padding: 2rem;
				}
			}
		}
	}
	// .carousel__slide
	&__slide {
		border-radius: 1rem;
		background: #6b806f;
		display: flex;
		flex-direction: column;
		padding: 3.75rem 2.5rem;
		height: auto;
		position: relative;
		min-height: rem(245);

		&.carousel__slide--small {
			min-height: 10.4375rem;
		}
		&.carousel__slide--border {
			background: transparent;
			border: rem(1) solid #fff;
		}
		&.carousel__slide--decor {
			position: relative;
			overflow: hidden;
			&::after {
				content: "";
				position: absolute;
				bottom: -4.62rem;
				right: -1.94rem;
				width: 12.5625rem;
				height: 12.6875rem;
				background: url("@img/decor/dropper-decor.svg") center / contain no-repeat;
			}
		}
		&.carousel__slide--large-number {
			padding-top: 2rem;
			&::before {
				position: static;
				font-size: 2.5rem;
			}
		}
		&::before {
			position: absolute;
			top: 1.5rem;
			right: 2rem;
		}
	}
	// .carousel__slide-caption
	&__slide-caption {
		font-size: 1.125rem;
		font-weight: 500;
		line-height: 140%;
		text-transform: uppercase;
		& small {
			text-transform: none;
			font-weight: 400;
			color: #dbdbdb;
		}
	}
	// .carousel__slide-title
	&__slide-title {
		font-weight: 500;
		@media (min-width: $md4) {
			min-height: 4.5rem;
		}
	}
	// .carousel__slide-price
	&__slide-price {
		margin-top: 0.5rem;
		font-size: 2rem;
		font-weight: 600;
		@media (min-width: $md4) {
			margin-bottom: 2.5rem;
		}
	}
	// .carousel__slide-desc
	&__slide-desc {
		margin-top: 1rem;
		color: #dbdbdb;
		font-size: 1rem;
		line-height: 140%;
		&:not(:last-child) {
			margin-bottom: 1rem;
		}
		& ul {
			list-style: disc;
			padding-left: 1.125em;
			& li {
				&::marker {
					font-size: 0.75em;
				}
			}
			&:not(:last-child) {
				margin-bottom: 1em;
			}
		}
		& p {
			&:not(:last-child) {
				margin-bottom: 1em;
			}
		}
		& strong {
			text-transform: uppercase;
			font-size: 1.125em;
			font-weight: 500;
		}
	}
	// .carousel__slide-heading
	&__slide-heading {
		font-weight: 500;
		font-size: 1.125rem;
		color: #fff;
	}
	// .carousel__footer
	&__footer {
		margin-top: 2rem;
		& p {
			line-height: 140%;
			&:not(:first-child) {
				margin-top: 1.25rem;
			}
		}
		& ul {
			margin-top: 1em;
			line-height: 140%;
			list-style: disc;
			padding-left: 1.25em;
			li {
				&:not(:last-child) {
					margin-bottom: 0.25rem;
				}
				&::marker {
					font-size: 0.75em;
				}
			}
		}
	}
}

.contraindications {
	// .contraindications__title
	&__title {
		hyphens: auto;
	}
	// .contraindications__list
	&__list {
		margin-top: 2rem;
		display: grid;
		gap: 0.38rem;
		font-weight: 500;
		line-height: 140%;
		@media (min-width: $md4) {
			font-size: 1.125rem;
		}
		@media (min-width: $md3) {
			grid-template-columns: repeat(2, 1fr);
		}
		& li {
			display: flex;
			align-items: center;
			gap: 0.625rem;
			padding: rem(6) 0;
			&::before {
				font-size: 1.5rem;
				width: 1.5rem;
				height: 1.5rem;
				color: #6b806f;
				@extend %ic, .icon-cross;
			}
		}
	}
}

.doctor-appointment {
	// .doctor-appointment__title
	&__title {
	}
	// .doctor-appointment__list
	&__list {
		margin-top: 2.44rem;
		border-top: rem(1) solid #dbdbdb;
	}
	// .doctor-appointment__item
	&__item {
		border-bottom: rem(1) solid #dbdbdb;
		display: flex;
		align-items: center;
		color: #dbdbdb;
		padding: 1.9rem 0rem;
		gap: 1rem;
		@media (min-width: $md4) {
			gap: 2rem;
			padding: 1.9rem 2.5rem;
		}
		&::before {
			font-weight: 500;
			text-transform: uppercase;
			font-size: 2rem;
			@media (min-width: $md4) {
				font-size: 2.5rem;
			}
		}
	}
	// .doctor-appointment__item-content
	&__item-content {
	}
	// .doctor-appointment__item-caption
	&__item-caption {
		font-size: 1.125rem;
		font-weight: 500;
		line-height: 140%;
		text-transform: uppercase;
		color: #fff;
	}
	// .doctor-appointment__item-desc
	&__item-desc {
		margin-top: 0.25rem;
		font-size: 1rem;
		line-height: 140%;
	}
}

.doctor-promo {
	position: relative;
	&::before {
		content: "";
		position: absolute;
		top: -5.31rem;
		right: -8rem;
		width: 100%;
		height: 100%;
		width: 32.8125rem;
		height: 32.8125rem;
		z-index: -1;
		border-radius: 50%;
		opacity: 0.1;
		pointer-events: none;
		background: #86e298;
		filter: blur(rem(100));
	}
	// .doctor-promo__main
	&__main {
	}
	// .doctor-promo__title
	&__title {
	}
	// .doctor-promo__info
	&__info {
		margin-top: 2.5rem;
		@media (min-width: $md3) {
			margin-top: 5rem;
		}
	}
	// .doctor-promo__person
	&__person {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	// .doctor-promo__person-name
	&__person-name {
		font-size: 1.125rem;
		font-weight: 500;
		line-height: 140%;
		text-transform: uppercase;
	}
	// .doctor-promo__expirience
	&__expirience {
		margin-top: 0.5rem;
	}
	// .doctor-promo__btn
	&__btn {
		margin-top: 2rem;
		&.btn {
			padding: 0.625rem 1.25rem;
		}
	}
	// .doctor-promo__image
	&__image {
		& img {
			border-radius: 1rem;
		}
	}
	// .doctor-promo__quote
	&__quote {
		color: #dbdbdb;
		font-size: 1rem;
		font-style: italic;
		line-height: 140%;
		height: 100%;
		align-content: end;
		position: relative;
		padding-top: 2rem;
		@media (min-width: $md2) {
			padding-top: 0;
			padding-bottom: 7.25rem;
			padding-left: 2rem;
		}
		&::before {
			content: "";
			position: absolute;
			transform: translateY(-50%);
			top: 50%;
			right: 5rem;
			width: 10.26213rem;
			height: 7.87138rem;
			background: url("@img/decor/quotes.svg") center / contain no-repeat;
			pointer-events: none;
		}
	}
}

.video-block {
	// .video-block__title
	&__title {
		max-width: rem(1100);
	}
	// .video-block__content
	&__content {
		&:not(:first-child) {
			margin-top: 2rem;
		}
		position: relative;
		display: block;
		& img {
			border-radius: 1rem;
		}
		&::before {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 2;
			transition: color 0.3s ease;
			color: rgba($color: #6b806f, $alpha: 0.7);
			font-size: 4rem;
			background: #fff;
			border-radius: 50%;
			@media (min-width: $md4) {
				font-size: 8rem;
			}
		}
		@media (any-hover: hover) {
			&:hover {
				&::before {
					color: rgba($color: #6b806f, $alpha: 1);
				}
			}
		}
	}
	// .video-block__desc
	&__desc {
		margin-top: 2rem;
		font-size: 1rem;
		line-height: 140%;
		& strong {
			text-transform: uppercase;
			font-weight: 600;
		}
		& p {
			&:not(:last-child) {
				margin-bottom: 1rem;
			}
		}
		& ul {
			list-style: disc;
			padding-left: 1.35em;
			& li {
				&::marker {
					font-size: 0.75em;
				}
			}
		}
	}
}
