.specialists {
	padding: 1.5rem 0 0;
	@media (min-width: $md2) {
		padding: 3.5rem 0 0;
	}
	// .specialists__title
	&__title {
	}
	// .specialists__content
	&__content {
		position: relative;
		&::before {
			content: "";
			position: absolute;
			top: 39.5%;
			transform: translateY(-50%);
			right: -26.625rem;
			width: 53.25rem;
			height: 53.25rem;
			border-radius: 50%;
			z-index: -1;
			opacity: 0.1;
			background: #86e298;
			filter: blur(100px);
		}
		&::after {
			content: "";
			position: absolute;
			top: 39.5%;
			transform: translateY(-50%);
			right: rem(-112);
			width: 23.875rem;
			height: 24.1875rem;
			background: url("@img/decor/hero-decor.svg") right center / contain no-repeat;
			z-index: -1;
		}
		margin-top: 2.5rem;
		@media (min-width: $md2) {
			margin-top: 5rem;
		}
	}
	// .specialists__block
	&__block {
		&:not(:last-child) {
			margin-bottom: 2rem;
		}
		.row {
			--gutter-y: 2rem;
		}
	}
}

.specialist-card {
	display: flex;
	flex-direction: column;
	border-radius: 1rem;
	overflow: hidden;
	height: 100%;
	// .specialist-card__image
	&__image {
		aspect-ratio: math.div(432, 503);
		background: #d9d9d9;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 1rem 1rem 0 0;
		overflow: hidden;
		border: rem(1) solid #fff;
		border-bottom: 0;
		& img {
			&.stub-image {
				border-radius: 0;
				max-width: 33.33%;
			}
			border-radius: 1rem 1rem 0 0;
		}
		&:is(a) {
			& img {
				transition: transform 0.3s ease;
			}
			@media (any-hover: hover) {
				&:hover {
					& img.cover-image {
						transform: scale(1.05);
					}
				}
			}
		}
	}

	// .specialist-card__body
	&__body {
		flex: 1 1 auto;
		border-radius: 0 0 1rem 1rem;
		border: rem(1) solid #fff;
		border-top: 0;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 1rem 1.5rem 2rem;
		@media (min-width: $md2) {
			min-height: 13.88rem;
			padding: 2rem 2.5rem;
		}
	}
	// .specialist-card__name
	&__name {
		font-size: 1.125rem;
		font-weight: 500;
		line-height: 140%;
		text-transform: uppercase;
		&:is(a) {
			transition: color 0.3s ease;
			@media (any-hover: hover) {
				&:hover {
					color: #6b806f;
				}
			}
		}
	}
	// .specialist-card__position
	&__position {
		margin-top: 0.5rem;
		color: #dbdbdb;
		font-size: 1rem;
		line-height: 140%;
		margin-bottom: auto;
	}
	// .specialist-card__more
	&__more {
		margin-top: 2rem;
	}
}
