@font-face {
  font-family: 'icons';
  src:  url('fonts/icons.eot?3akz9f');
  src:  url('fonts/icons.eot?3akz9f#iefix') format('embedded-opentype'),
    url('fonts/icons.ttf?3akz9f') format('truetype'),
    url('fonts/icons.woff?3akz9f') format('woff'),
    url('fonts/icons.svg?3akz9f#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow:before {
  content: "\e900";
}
.icon-down:before {
  content: "\e901";
}
.icon-flower:before {
  content: "\e902";
}
.icon-instagram:before {
  content: "\e903";
}
.icon-minus:before {
  content: "\e904";
}
.icon-phone:before {
  content: "\e905";
}
.icon-play:before {
  content: "\e906";
}
.icon-plus:before {
  content: "\e907";
}
.icon-telegram:before {
  content: "\e908";
}
.icon-whatsapp:before {
  content: "\e909";
}
.icon-youtube:before {
  content: "\e90a";
}
