<div class="specialist-card">
    @@if(typeof slug !=='undefined') {
    <a href="@@slug" class="specialist-card__image">
        @@if(typeof image !=='undefined') {
        <img src="@@image" class="cover-image" alt="Фото специалиста">
        }
        @@if(typeof image == 'undefined') {
        <img src="@img/blank-photo.svg" class="stub-image" alt="Заглушка">
        }
    </a>
    }
    @@if(typeof slug =='undefined') {
    <div class="specialist-card__image">
        @@if(typeof image !=='undefined') {
        <img src="@@image" class="cover-image" alt="Фото специалиста">
        }
        @@if(typeof image == 'undefined') {
        <img src="@img/blank-photo.svg" class="stub-image" alt="Заглушка">
        }
    </div>
    }
    <div class="specialist-card__body">
        @@if(typeof slug !=='undefined') {
        <a href="@@slug" class="specialist-card__name">@@name</a>
        }
        @@if(typeof slug =='undefined') {
        <div class="specialist-card__name">@@name</div>
        }
        <div class="specialist-card__position">@@position</div>
        @@if(typeof btnText !== 'undefined'){
        <a href="@@slug" class="specialist-card__more btn btn-secondary btn-sm">@@btnText</a>
        }
    </div>
</div>