* {
	scroll-margin-top: rem(56);
	@media (min-width: $md5) {
		scroll-margin-top: rem(74);
	}
	@media (min-width: $md3) {
		scroll-margin-top: rem(82);
	}
}

body {
	font-family: $fontfamily, sans-serif;
	font-size: 1rem;
	min-width: rem($minWidth);
	min-height: 100%;
	line-height: normal;
	margin-right: 0 !important;
	color: #fff;
	background: #252f28;
	&.open-mobile-menu {
		@media (max-width: $md3) {
			overflow: hidden;
		}
	}
}

// ================== ОБОЛОЧКА ==============================

.wrapper {
	position: relative;
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	overflow-x: clip;
}

.page {
	flex: 1 1 auto;
	overflow-x: clip;
	display: flex;
	flex-direction: column;
	gap: rem(60);
	@media (min-width: $md4) {
		gap: rem(120);
	}
}

// ================== ОБОЛОЧКА ===============================

// ================== LAYOUT =================================

.container {
	margin: 0 auto;
	padding: 0 1rem;
	max-width: 100%;
	@media (min-width: $md5) {
		box-sizing: content-box;
		max-width: rem(540);
	}
	@media (min-width: $md4) {
		max-width: rem(624);
	}
	@media (min-width: $md3) {
		max-width: rem(960);
	}
	@media (min-width: $md2) {
		max-width: rem(1140);
	}
	@media (min-width: $md1) {
		max-width: $maxWidthContainer;
	}
}

//=============== LAYOUT ===============================

// =============== MODULES ====================
@import "./modules/popup";
// =============== MODULES ====================

.section-header {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	gap: 0.25rem;
	@media (min-width: $md5) {
		align-items: flex-end;
		flex-direction: row;
	}
	@media (min-width: $md1) {
		padding-left: 3.5rem;
	}
	// .section-header__title
	&__title {
	}
	// .section-header__hint
	&__hint {
		color: #dbdbdb;
		font-size: 1rem;
		flex-shrink: 0;
		@media (min-width: $md5) {
			max-width: 35%;
		}
		&::before {
			content: "/";
			margin-right: 0.25rem;
		}
		&::after {
			content: "/";
			margin-left: 0.25rem;
		}
	}
	// .section-header__controls
	&__controls {
		display: flex;
		align-items: center;
		gap: 2rem;
	}
}

.consult {
	// .consult__body
	&__body {
		border-radius: 1rem;
		background: #6b806f;
		padding: 2.5rem 1.75rem;
		@media (min-width: $md3) {
			padding: 2.5rem 2rem 2.5rem 3.875rem;
		}
	}
	// .consult__main
	&__main {
		max-width: 34.1875rem;
	}
	// .consult__title
	&__title {
		font-size: 1.5rem;
		font-weight: 600;
		text-transform: uppercase;
	}
	// .consult__subtitle
	&__subtitle {
		margin-top: 1.5rem;
		font-size: 1rem;
		line-height: 140%;
		max-width: 28.125rem;
	}
	// .consult__form
	&__form {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}
}

.accordion-list {
	flex: 1 1 auto;
	border-top: rem(1) solid #fff;
	// .accordion-list__item
	&__item {
		border-bottom: rem(1) solid #fff;
		counter-increment: num;
		overflow: hidden;
		@for $i from 1 through 10 {
			&:nth-child(#{$i}) {
				.accordion-list__item-caption {
					&::before {
						content: "0" counter(num) "/";
					}
				}
			}
		}
		&::before {
			.accordion-list__item-caption {
				content: counter(num) "/";
				text-transform: uppercase;
			}
		}
	}
	// .accordion-list__item-caption
	&__item-caption {
		font-size: 1rem;
		font-weight: 500;
		padding: em(0.9, 1.25) em(1.5, 1.25) em(0.9, 1.25) 0;
		display: flex;
		align-items: center;
		gap: em(2, 1.25);
		transition: opacity 0.3s ease;
		cursor: pointer;

		&::before {
			color: #dbdbdb;
			font-size: 1em;
		}
		&::after {
			content: "\e907";
			@extend %ic;
			margin-left: auto;
			width: 1.125rem;
			height: 1.125rem;
			font-size: 1.125rem;
			flex-shrink: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			transition: transform 0.3s ease;
		}
		&.active {
			&::after {
				content: "\e904";
				transform: rotate(360deg);
			}
		}
		@media (min-width: $md5) {
			font-size: 1.25rem;
		}
		@media (any-hover: hover) {
			&:hover {
				opacity: 0.75;
			}
		}
	}
	// .accordion-list__item-body
	&__item-body {
		padding-bottom: 0.9rem;
		display: none;
		font-size: 0.875rem;
		@media (min-width: $md5) {
			font-size: 1rem;
		}
	}
}

.contacts {
	.section-header {
		padding-left: 0;
	}
	// .contacts__body
	&__body {
		margin-top: 2.06rem;
		position: relative;
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
		@media (min-width: $md3) {
			gap: 0;
			flex-direction: row;
			justify-content: space-between;
			align-items: flex-end;
			padding: 2.5rem 1.875rem 2.5rem 2.5rem;
		}
	}
	// .contacts__main
	&__main {
		position: relative;
		z-index: 2;
		border-radius: 0.75rem;
		background: #6b806f;
		padding: 1.875rem 2rem 1.25rem 2rem;
		width: 100%;
		@media (min-width: $md3) {
			max-width: 20.75rem;
		}
	}
	// .contacts__caption
	&__caption {
		font-size: 1.25rem;
		font-weight: 600;
		text-transform: uppercase;
	}
	// .contacts__list
	&__list {
		margin-top: 1.25rem;
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}
	// .contacts__item
	&__item {
	}
	// .contacts__link
	&__link {
		border-radius: 0.5rem;
		background: #fff;
		color: #3f3f3f;
		display: flex;
		align-items: center;
		gap: 0.75rem;
		padding: 0.5rem 0.69rem;
		font-size: 1rem;
		font-weight: 600;

		&::before {
			font-size: 1.25rem;
			width: 1.5rem;
			height: 1.5rem;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		transition: background-color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				background-color: darken($color: #fff, $amount: 10);
			}
		}
	}
	// .contacts__socials
	&__socials {
		margin-top: 2rem;
	}
	// .contacts__socials-caption
	&__socials-caption {
		font-size: 1rem;
		font-weight: 600;
		text-transform: uppercase;
	}
	// .contacts__socials-items
	&__socials-items {
		margin-top: 0.5rem;
		display: flex;
		align-items: center;
		gap: 0.75rem;
	}
	// .contacts__socials-item
	&__socials-item {
		font-size: 2rem;
		color: #ceb388;
		transition: color 0.3s ease;
		&.icon-youtube {
			font-size: 2.25rem;
		}
		@media (any-hover: hover) {
			&:hover {
				color: darken($color: #ceb388, $amount: 10);
			}
		}
	}
	// .contacts__balloon
	&__balloon {
		border-radius: 0.75rem;
		background: #6b806f;
		position: relative;
		z-index: 2;
		display: flex;
		flex-direction: column;
		padding: 1.5rem 2rem;
		gap: 1rem;
		@media (min-width: $md3) {
			gap: 0;
			padding: 1.06rem 1.5rem 1rem 0.37rem;
			align-items: flex-end;
		}
	}
	// .contacts__address
	&__address {
		display: flex;
		align-items: center;
		gap: 0.94rem;
		color: #fffdfd;
		font-size: 1.125rem;
		font-weight: 600;
		&::before {
			width: 1.25rem;
			height: 1.25rem;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
	// .contacts__btn
	&__btn {
		margin-top: 0.625rem;
		padding: 0.5rem 1rem;
		border-radius: 0.5rem;
	}
	// .contacts__map
	&__map {
		width: 100%;
		border-radius: 1rem;
		overflow: hidden;
		height: rem(460);
		position: relative;
		grid-column: span 2;
		@media (min-width: $md3) {
			height: 100%;
			position: absolute;
			z-index: 1;
			top: 0;
			left: 0;
		}
		& iframe {
			width: 100%;
			height: 100%;
		}
	}
}
