* {
	scroll-margin-top: rem(56);
	@media (min-width: $md5) {
		scroll-margin-top: rem(74);
	}
	@media (min-width: $md3) {
		scroll-margin-top: rem(82);
	}
}

body {
	font-family: $fontfamily, sans-serif;
	font-size: 1rem;
	min-width: rem($minWidth);
	min-height: 100%;
	line-height: normal;
	margin-right: 0 !important;
	color: $text;
	background: #e6e4dc;
	&.open-mobile-menu {
		@media (max-width: $md3) {
			overflow: hidden;
		}
	}
}

// ================== ОБОЛОЧКА ==============================

.wrapper {
	position: relative;
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	overflow-x: clip;
}

.page {
	flex: 1 1 auto;
	overflow-x: clip;
}

// ================== ОБОЛОЧКА ===============================

// ================== LAYOUT =================================

.container {
	margin: 0 auto;
	padding: 0 1rem;
	max-width: 100%;
	@media (min-width: $md5) {
		box-sizing: content-box;
		max-width: rem(540);
	}
	@media (min-width: $md4) {
		max-width: rem(624);
	}
	@media (min-width: $md3) {
		max-width: rem(960);
	}
	@media (min-width: $md2) {
		max-width: rem(1140);
	}
	@media (min-width: $md1) {
		max-width: $maxWidthContainer;
	}
}

//=============== LAYOUT ===============================

// =============== MODULES ====================
@import "./modules/popup";
// =============== MODULES ====================
