@font-face {
								font-family: 'icons';
								font-display: swap;
								src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
								font-weight: 400;
								font-style: normal;
							}
@font-face {
								font-family: 'Montserrat';
								src: url("../fonts/Montserrat-VariableFont_wght.woff2") format("woff2 supports variations"),
									url("../fonts/Montserrat-VariableFont_wght.woff2") format("woff2-variations"),
									url("../fonts/Montserrat-VariableFont_wght.woff") format("woff");
								font-weight: 100 900;
								font-stretch: 75% 125%;
								font-style: normal;
								font-display: swap;
							}
@font-face {
								font-family: 'Inter';
								src: url("../fonts/Inter-VariableFont_wght.woff2") format("woff2 supports variations"),
									url("../fonts/Inter-VariableFont_wght.woff2") format("woff2-variations"),
									url("../fonts/Inter-VariableFont_wght.woff") format("woff");
								font-weight: 100 900;
								font-stretch: 75% 125%;
								font-style: normal;
								font-display: swap;
							}
