.footer {
	@media (min-width: $md4) {
		margin-top: 2.5rem;
	}
	// .footer__body
	&__body {
		padding: 2.5rem 0 3.75rem;
		@media (min-width: $md4) {
			padding: 5rem 0 3.75rem;
		}
		.row {
			--gutter-y: 2rem;
		}
	}
	// .footer__main
	&__main {
		display: flex;
		flex-direction: column;
		align-items: center;
		@media (min-width: $md3) {
			align-items: flex-start;
		}
	}
	// .footer__meta
	&__meta {
		margin-top: 1.56rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		@media (min-width: $md3) {
			align-items: flex-start;
			padding-left: 4rem;
		}
	}
	// .footer__worktime
	&__worktime {
		font-size: 1rem;
	}
	// .footer__phone
	&__phone {
		margin-top: 0.25rem;
		font-size: 1.5rem;
		font-weight: 600;
		text-transform: uppercase;
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: #ceb388;
			}
		}
	}
	// .footer__logo
	&__logo {
		display: flex;
		align-items: flex-start;
		gap: 1rem;
	}
	// .footer__logo-icon
	&__logo-icon {
		width: 3rem;
		flex-shrink: 0;
	}
	// .footer__logo-content
	&__logo-content {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	// .footer__logo-name
	&__logo-name {
		font-size: 1.875rem;
		font-weight: 500;
	}
	// .footer__logo-deskriptor
	&__logo-deskriptor {
		color: #dbdbdb;
		font-size: 0.875rem;
		letter-spacing: -0.0175rem;
	}
	// .footer__meta
	&__meta {
	}
	// .footer__worktime
	&__worktime {
	}
	// .footer__phone
	&__phone {
	}
	// .footer__menu
	&__menu {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		@media (min-width: $md3) {
			text-align: left;
			align-items: flex-start;
		}
	}
	// .footer__menu-caption
	&__menu-caption {
		font-size: 1.5rem;
		font-weight: 500;
	}
	// .footer__menu-list
	&__menu-list {
		margin-top: 1.5rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0.375rem;
		font-size: 0.875rem;
		font-weight: 500;
		@media (min-width: $md3) {
			align-items: flex-start;
		}
	}
	// .footer__menu-item
	&__menu-item {
	}
	// .footer__menu-link
	&__menu-link {
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: #ceb388;
			}
		}
	}
	// .footer__actions
	&__actions {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 2rem;
		@media (min-width: $md2) {
			flex-direction: column;
			align-items: flex-end;
			justify-content: flex-start;
		}
	}
	// .footer__btn
	&__btn {
		&.btn.btn-lg {
			padding: 0.675rem 2.5rem;
			font-size: 1.25rem;
		}
	}
	// .footer__socials
	&__socials {
		display: flex;
		gap: 0.875rem;
	}
	// .footer__social
	&__social {
		font-size: 2.5rem;
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: #ceb388;
			}
		}
	}
	// .footer__bottom
	&__bottom {
		border-top: rem(1) solid #fff;
		padding: 0.75rem 0 1rem;
		font-size: 0.875rem;
		letter-spacing: -0.0175rem;
	}
	// .footer__bottom-container
	&__bottom-container {
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		gap: 1rem;
		@media (min-width: $md4) {
			justify-content: space-between;
			flex-direction: row;
		}
	}
	// .footer__copyright
	&__copyright {
	}

	// .footer__policy
	&__policy {
		text-decoration-line: underline;
		@media (any-hover: hover) {
			&:hover {
				text-decoration: none;
			}
		}
	}
}
