.form {
	// .form__control
	&__control {
		text-overflow: ellipsis;
		transition: border-color 0.3s ease, color 0.3s ease;
		width: 100%;
		border-radius: 0;
		background: #fff;
		color: #334b59;

		font-size: 1rem;
		line-height: 160%;
		border-radius: 0.375rem;
		border: 1px solid #666f79;
		background: #fff;
		padding: 0.65rem 1rem;
		@media (min-width: $md5) {
			padding: 0.65rem 1.5rem;
		}
		@media (min-width: $md3) {
			padding: 1rem;
		}
		&.form__control--grey {
			color: #fff;
			background: #3a3d3f;
			border-color: #3a3d3f;
			&:hover {
				border-color: #666f79;
			}
			&:focus {
				border-color: #e6e4dc;
			}
			&::placeholder {
				color: #8f9192;
			}
		}
		&::placeholder {
			opacity: 1;
		}
		&:hover,
		&:focus {
			border-color: $accent;
		}
		&:disabled {
			background: #ddd;
			border-color: #ddd;
		}
		&._error {
			border-color: #f63a19;
		}
		&:is(textarea) {
			height: 7.5rem;
			resize: none;
		}
	}
	// .form__checkbox
	&__checkbox {
		display: block;
		&--dark {
			.form__checkbox-field {
				color: #8f9192;
				&::before {
					background: #e6e4dc;
					border: rem(1) solid #e6e4dc;
				}
			}
		}
	}
	// .form__checkbox-input
	&__checkbox-input {
		&:checked {
			& ~ .form__checkbox-field {
				&::before {
					@extend %ic, .icon-check;
				}
			}
		}
	}
	// .form__checkbox-field
	&__checkbox-field {
		color: #666f79;
		line-height: 130%;
		position: relative;
		text-align: left;
		cursor: pointer;
		user-select: none;
		min-height: 2rem;
		align-content: center;
		display: block;
		font-size: 0.875rem;
		padding-left: rem(40);
		@media (min-width: $md3) {
			padding-left: rem(48);
			font-size: 1rem;
		}
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 1.5rem;
			height: 1.5rem;
			background: #f8f8f8;
			color: #272a2d;
			border: rem(1) solid #666f79;
			border-radius: 0.25rem;
			display: flex;
			justify-content: center;
			align-items: center;
			@media (min-width: $md3) {
				width: 2rem;
				height: 2rem;
			}
		}
		& a {
			text-decoration: underline;
			@media (any-hover: hover) {
				&:hover {
					text-decoration: none;
					color: $accent;
				}
			}
		}
	}
	// .form__bottom
	&__bottom {
		display: flex;
		margin-top: 0.7rem;
		flex-direction: column;

		gap: 1rem;
		@media (min-width: $md5) {
			gap: rem(40);

			flex-direction: row;
		}
		@media (min-width: $md3) {
			gap: rem(80);
			margin-top: 1.5rem;
		}
	}
	// .form__submit
	&__submit {
		@media (min-width: $md5) {
			flex: 0 1 rem(300);
		}
		@media (min-width: $md3) {
			flex: 1 1 auto;
		}
	}
	// .form__socials
	&__socials {
		align-self: center;
	}
}

.socials {
	display: flex;
	gap: 1rem;
	flex-wrap: wrap;
	// .socials__btn
	&__btn {
		flex-shrink: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 0.5rem;
		color: #eb5b38;
		border: rem(1) solid #666f79;
		transition: all 0.3s ease;
		width: 3rem;
		height: 3rem;
		font-size: 1.375rem;
		@media (min-width: $md3) {
			font-size: 1.5rem;
			width: 3.75rem;
			height: 3.75rem;
		}
		&.socials__btn--dark {
			background: #3a3d3f;
			border-color: #3a3d3f;
		}
		&:hover {
			background: #eb5b38;
			border-color: #eb5b38;
			color: #fff;
		}
		&:active {
			background: #f63a19;
			border-color: #f63a19;
			color: #fff;
		}
	}
}

.btn {
	position: relative;
	z-index: 1;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	user-select: none;
	transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
	border-radius: 0.5rem;
	padding: 0.75rem 2rem;
	font-size: 1rem;
	font-weight: 600;

	&:focus-visible {
		box-shadow: 0 0 rem(1) rem(1) $text;
	}

	&.btn-primary {
		border-color: #eb5b38;
		background: #eb5b38;
		color: #f8f8f8;

		&:hover {
			background: #f63a19;
			border-color: #f63a19;
		}

		&:active {
			background: #f63a19;
			border-color: #f63a19;
		}
	}

	&.btn-lg {
		@media (min-width: $md3) {
			line-height: 1.5;
			padding: 0.9375rem 1.5rem;
			font-size: 1.25rem;
		}
	}

	&:disabled,
	&[aria-disabled="true"] {
		cursor: default;
		opacity: 0.3;
		pointer-events: none;
	}
}
