.header {
	background: #6b806f;
	color: #fff;
	position: sticky;
	top: 0;
	z-index: 6;
	width: 100%;
	padding: 1.125rem 0;
	@media (min-width: $md5) {
		padding: 1.5rem 0;
	}
	@media (min-width: $md3) {
		padding: 0.5rem 0;
	}
	@media (min-width: $md2) {
		padding: 1.3rem 0;
	}
	&.open-menu {
		&::before {
			@media (max-width: $md3) {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: #6b806f;
				z-index: 11;
			}
		}
	}
	// .header__container
	&__container {
		display: flex;
		align-items: center;
		gap: 1.5rem;
		@media (max-width: $md3) {
			max-width: 100%;
		}
	}
	// .header__logo
	&__logo {
		position: relative;
		z-index: 11;
		display: flex;
		align-items: center;
		gap: 0.5rem;
	}
	// .header__logo-icon
	&__logo-icon {
	}
	// .header__logo-text
	&__logo-text {
		font-size: 0.875rem;
		font-weight: 500;
	}
	// .header__menu
	&__menu {
	}
	// .header__toggler
	&__toggler {
	}
}

.menu {
	justify-content: space-between;
	display: flex;

	@media (min-width: $md3) {
		position: relative;
		z-index: 2;
		flex: 1 1 auto;
		align-items: center;
		gap: 1.5rem;
	}
	@media (max-width: $md3) {
		position: absolute;
		top: 0;

		bottom: 0;
		right: 0;
		height: 100svh;
		width: 100%;

		overflow-y: auto;
		overflow-x: hidden;
		background: #6b806f;
		z-index: 1;
		flex-direction: column;
		transition:
			transform 0.3s ease,
			visibility 0.1s ease,
			opacity 0.1s ease;
		transform: translateX(100%);
		opacity: 0;
		visibility: hidden;
		z-index: 7;
		padding: 6rem 1.5rem rem(40);
		gap: 1.5rem;
		.header.open-menu & {
			transform: none;
			opacity: 1;
			visibility: visible;
		}
		@media (min-width: $md5) {
		}
	}
	// .menu__logo
	&__logo {
		@media (min-width: $md3) {
			display: none;
		}
	}
	// .menu__list
	&__list {
		display: flex;
		justify-content: center;
		flex-direction: column;
		gap: 0.56rem;
		margin-bottom: auto;
		@media (min-width: $md3) {
			margin-bottom: 0;
			row-gap: 0.75rem;
			flex: 1 1 auto;
			align-items: center;
			justify-content: center;
			flex-direction: row;
			gap: 1.5rem;
			font-weight: 500;
			font-size: 0.875rem;
		}
		@media (min-width: $md2) {
			gap: 2rem;
		}
		@media (min-width: $md1) {
			padding-left: 3.75rem;
		}
	}
	// .menu__item
	&__item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		gap: 0.25rem;
		@media (min-width: $md3) {
			flex-wrap: nowrap;
		}
		&.menu__item--parent {
			@media (min-width: $md3) {
				position: relative;
				@media (any-hover: hover) {
					&:hover {
						.menu__link {
							text-decoration: underline;
							color: $accent;
						}
						.menu__arrow {
							transform: rotate(180deg);
							color: $accent;
						}
						.submenu {
							opacity: 1;
							visibility: visible;
							transform: none;
						}
					}
				}
			}
		}
		&.active {
			@media (max-width: $md3) {
				.menu__arrow {
					transform: rotate(180deg);
					color: $accent;
				}
				.submenu {
					display: block;
				}
			}
			@media (min-width: $md3) {
				.menu__link {
					text-decoration: underline;
					color: $accent;
				}
				.menu__arrow {
					transform: rotate(180deg);
					color: $accent;
				}
				.submenu {
					opacity: 1;
					visibility: visible;
					transform: none;
				}
			}
		}
	}
	// .menu__link
	&__link {
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
				color: $accent;
			}
		}
	}
	// .menu__arrow
	&__arrow {
		font-size: 0.5rem;
		height: 0.3125rem;
		flex-shrink: 0;
		position: relative;
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 1.5rem;
			height: 1.5rem;
		}
		transition:
			transform 0.3s ease,
			color 0.3s ease;
		width: 1.5rem;
		@media (min-width: $md3) {
			width: 0.44044rem;
		}
	}
	// .menu__actions
	&__actions {
		display: flex;
		gap: 1.5rem;
		flex-direction: column;
		align-items: flex-start;
		row-gap: 0.75rem;
		@media (min-width: $md3) {
			row-gap: 0.25rem;
			align-items: flex-end;
		}
		@media (min-width: $md2) {
			align-items: center;
			flex-direction: row;
		}
	}
	// .menu__contacts
	&__contacts {
		display: flex;
		flex-direction: column;
		width: 100%;
		align-items: flex-start;
		@media (min-width: $md3) {
			align-items: flex-end;
			width: auto;
			flex: 0 1 auto;
		}
	}
	// .menu__contacts-phone
	&__contacts-phone {
		white-space: nowrap;
		font-size: 1rem;
		font-weight: 600;
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: #ceb388;
			}
		}
	}
	// .menu__address
	&__address {
		margin-top: 0.25rem;
		font-size: 0.75rem;
	}
	// .menu__callback
	&__callback {
	}
}

.submenu {
	display: none;
	flex: 0 0 100%;
	padding: rem(20) rem(0) rem(20) rem(12);
	@media (min-width: $md3) {
		margin-top: 0;
		position: absolute;
		left: rem(-40);
		top: 100%;
		color: #fff;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		padding: rem(40);
		gap: 1.5rem;
		opacity: 0;
		visibility: hidden;
		transition: all 0.2s ease-in;
		width: fit-content;
	}
	@media (min-width: $md2) {
		gap: 3.88rem;
	}
	&::before {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: calc(100% - rem(20));
		background: #6b806f;
		border-radius: 0 0 1rem 1rem;
		z-index: -1;
	}
	// .submenu__column
	&__column {
		@media (max-width: $md3) {
			&:not(:last-child) {
				margin-bottom: 1rem;
			}
		}
		@media (min-width: $md3) {
			width: 10rem;
		}
	}
	// .submenu__caption
	&__caption {
		color: #ceb388;
		font-size: 1rem;
		font-weight: 500;
		letter-spacing: -0.02rem;
		padding-bottom: 0.19rem;
		border-bottom: rem(1) solid;
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: darken($color: #ceb388, $amount: 10);
			}
		}
	}
	// .submenu__list
	&__list {
		margin-top: 1.25rem;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 0.5rem;
		font-size: 0.875rem;
		letter-spacing: -0.0175rem;
	}
	// .submenu__item
	&__item {
	}
	// .submenu__link
	&__link {
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: #ceb388;
			}
		}
	}
}

.icon-menu {
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	width: 2rem;
	height: 1rem;
	margin-left: auto;
	color: #fff;
	z-index: 11;
	transition: all 0.3s ease;
	@media (min-width: $md5) {
		height: 1.5rem;
		min-width: 3rem;
	}
	@media (min-width: $md3) {
		display: none;
	}
	& span {
		display: block;
		align-self: stretch;
		transition:
			transform 0.4s ease 0.4s,
			opacity 0.4s ease 0.4s;
		will-change: transform;
		padding: rem(3) rem(0);
		@media (min-width: $md5) {
			padding: rem(5) rem(0);
		}
		&::before {
			content: "";
			display: block;
			height: rem(2);
			background: currentColor;
			transition: transform 0.3s ease 0s;
			will-change: transform;
			margin: auto;
		}
	}
	.header.open-menu & {
		background: transparent;

		& span {
			transition:
				transform 0.3s ease 0s,
				opacity 0.3s ease 0s;
			&::before {
				transition:
					transform 0.45s ease 0.35s,
					width 0.3s ease 0s;
				width: 75%;
				@media (min-width: $md5) {
					width: 50%;
				}
			}
			&:first-child {
				transform: translateY(rem(8));
				@media (min-width: $md5) {
					transform: translateY(rem(12));
				}
				&::before {
					transform: rotate(-135deg);
				}
			}
			&:nth-child(2) {
				opacity: 0;
			}
			&:nth-child(3) {
				transform: translateY(rem(-8));
				@media (min-width: $md5) {
					transform: translateY(rem(-12));
				}
				&::before {
					transform: rotate(-225deg);
				}
			}
		}
	}
}
