.header {
	background: #6b806f;
	color: #fff;
	position: sticky;
	top: 0;
	z-index: 6;
	width: 100%;
	padding: 1.125rem 0;
	@media (min-width: $md5) {
		padding: 1.5rem 0;
	}
	@media (min-width: $md3) {
		padding: 1.3rem 0;
	}
	&.open-menu {
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100svh;
			background: rgba($color: #272a2d, $alpha: 0.8);
			backdrop-filter: blur(5px);
			-webkit-backdrop-filter: blur(5px);
			z-index: 7;
		}
	}
	// .header__container
	&__container {
		display: flex;
		align-items: center;
		gap: 1.5rem;
	}
	// .header__logo
	&__logo {
		display: flex;
		align-items: center;
		gap: 0.5rem;
	}
	// .header__logo-icon
	&__logo-icon {
	}
	// .header__logo-text
	&__logo-text {
		font-size: 0.875rem;
		font-weight: 500;
	}
	// .header__menu
	&__menu {
	}
	// .header__toggler
	&__toggler {
	}
	// .header__callback
	&__callback {
		@media (max-width: $md3) {
			display: none;
		}
	}
}

.menu {
	@media (min-width: $md3) {
		position: relative;
		z-index: 2;
		flex: 1 1 auto;
	}
	justify-content: space-between;
	display: flex;

	@media (max-width: $md3) {
		position: absolute;
		top: 0;

		bottom: 0;
		right: 0;
		height: 100svh;
		width: 100%;

		overflow-y: auto;
		overflow-x: hidden;
		background: #fff;
		background: #f8f8f8;
		z-index: 1;
		align-items: flex-start;
		flex-direction: column;
		transition: transform 0.3s ease, visibility 0.1s ease, opacity 0.1s ease;
		transform: translateX(100%);
		opacity: 0;
		visibility: hidden;
		z-index: 7;
		padding: 1.25rem 1.5rem rem(40);
		gap: 1.5rem;
		.header.open-menu & {
			transform: none;
			opacity: 1;
			visibility: visible;
		}
		@media (min-width: $md5) {
		}
	}
	// .menu__logo
	&__logo {
		@media (min-width: $md3) {
			display: none;
		}
	}
	// .menu__list
	&__list {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: flex-start;
		gap: 0.56rem;
		margin-bottom: auto;
		@media (min-width: $md3) {
			margin-bottom: 0;
			padding-left: 3.75rem;
			gap: 2rem;
			flex: 1 1 auto;
			align-items: center;
			justify-content: center;
			flex-direction: row;
			font-weight: 500;
			font-size: 0.875rem;
		}
	}
	// .menu__item
	&__item {
		display: flex;
		align-items: center;
		gap: 0.25rem;
		&.menu__item--parent {
			@media (any-hover: hover) {
				&:hover {
					.menu__link {
						text-decoration: underline;
						color: $accent;
					}
					.menu__arrow {
						transform: rotate(180deg);
						color: $accent;
					}
				}
			}
		}
	}
	// .menu__link
	&__link {
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
				color: $accent;
			}
		}
	}
	// .menu__arrow
	&__arrow {
		font-size: 0.5rem;
		width: 0.44044rem;
		height: 0.3125rem;
		flex-shrink: 0;
		transition: transform 0.3s ease, color 0.3s ease;
	}
	// .menu__contacts
	&__contacts {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		width: 100%;
		@media (min-width: $md3) {
			width: auto;
			flex: 0 1 auto;
		}
	}
	// .menu__contacts-phone
	&__contacts-phone {
		font-size: 1rem;
		font-weight: 600;
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: #ceb388;
			}
		}
	}
	// .menu__address
	&__address {
		margin-top: 0.25rem;
		font-size: 0.75rem;
	}
}

.icon-menu {
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	width: 2rem;
	height: 1rem;
	margin-left: auto;
	color: #272a2d;
	z-index: 11;
	transition: all 0.3s ease;
	@media (min-width: $md5) {
		height: 1.5rem;
		min-width: 3rem;
	}
	@media (min-width: $md3) {
		display: none;
	}
	& span {
		display: block;
		align-self: stretch;
		transition: transform 0.4s ease 0.4s, opacity 0.4s ease 0.4s;
		will-change: transform;
		padding: rem(3) rem(0);
		@media (min-width: $md5) {
			padding: rem(5) rem(0);
		}
		&::before {
			content: "";
			display: block;
			height: rem(2);
			background: currentColor;
			transition: transform 0.3s ease 0s;
			will-change: transform;
			margin: auto;
		}
	}
	&.active {
		background: transparent;

		& span {
			transition: transform 0.3s ease 0s, opacity 0.3s ease 0s;
			&::before {
				transition: transform 0.45s ease 0.35s, width 0.3s ease 0s;
				width: 75%;
				@media (min-width: $md5) {
					width: 50%;
				}
			}
			&:first-child {
				transform: translateY(rem(8));
				@media (min-width: $md5) {
					transform: translateY(rem(12));
				}
				&::before {
					transform: rotate(-135deg);
				}
			}
			&:nth-child(2) {
				opacity: 0;
			}
			&:nth-child(3) {
				transform: translateY(rem(-8));
				@media (min-width: $md5) {
					transform: translateY(rem(-12));
				}
				&::before {
					transform: rotate(-225deg);
				}
			}
		}
	}
}
