// Использование модулей SASS
@use "sass:math";
// Использование модулей SASS
// ======================================МИКСИНЫ==============================================
@import "mixins";
// ======================================МИКСИНЫ==============================================

// ======================================ШРИФТЫ===============================================
@import "fonts";
@import "icons";
// ======================================ШРИФТЫ===============================================

// Шрифт по умолчанию
$fontfamily: "Montserrat";
$font-inter: "Inter";
// Шрифт по умолчанию

$md1: 1399.98px;
$md2: 1199.98px;
$md3: 991.98px;
$md4: 743.98px;
$md5: 575.98px;

// ПЕРЕМЕННЫЕ

$minWidth: 360; // Минимальная ширина страницы
$maxWidth: 1920; // Ширина макета
$maxWidthContainer: rem(1326); // Максимальная ширина ограничивающего контейнера
$containerPadding: 30;

// ЦВЕТА

$accent: #ceb388;
$text: #fff;

// Z-Index

$ui-index-1: 1; // Для наполняющих элементов в общем потоке
$ui-index-2: 2; // Для наполняющих элементов в общем потоке
$ui-index-3: 3; // Для масок
$ui-index-4: 4; // Для сайдбаров
$ui-index-5: 5; // Для модалок
$ui-index-6: 6; // Для элементов, перекрывающих все

// ОБЩИЕ ПАРАМЕТРЫ

@import "ui";
@import "modules/grid";
@import "forms";
@import "common";
@import "header";
@import "footer";

//=======================================

@import "pages/home";

.hero {
	padding: 1rem 0 0;
	// .hero__header
	&__header {
		display: flex;
		align-items: flex-start;
		background: url("@img/decor/hero-decor.svg") right center / contain no-repeat;
	}
	// .hero__offer
	&__offer {
		padding-top: 5rem;
		flex: 1 1 auto;
		@media (min-width: $md1) {
			padding-left: 3.5rem;
		}
	}
	// .hero__title
	&__title {
		font-size: 3.75rem;
		font-weight: 600;
		letter-spacing: -0.1125rem;
		text-transform: uppercase;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 1rem;
		& small {
			font-size: 1.5rem;
			font-weight: 500;
			letter-spacing: -0.03rem;
			text-transform: none;
			max-width: 25rem;
		}
	}
	// .hero__subtitle
	&__subtitle {
		margin-top: 2.5rem;
		font-size: 1.25rem;
		font-weight: 500;
		max-width: 34.75rem;
	}
	// .hero__btn
	&__btn {
		margin-top: 3rem;
		max-width: 19.9375rem;
		width: 100%;
	}
	// .hero__image
	&__image {
		margin-top: -1.5rem;

		max-width: 52%;
	}
	// .hero__benefits
	&__benefits {
		@media (min-width: $md1) {
			margin-top: -9rem;
		}
	}
	// .hero__benefit
	&__benefit {
		height: 100%;
		background: #6b806f;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		padding: 1.75rem 1.75rem 3rem 1.75rem;
		border-radius: 1rem;
	}
	// .hero__benefit-num
	&__benefit-num {
		font-size: 4rem;
		font-weight: 600;
	}
	// .hero__benefit-desc
	&__benefit-desc {
		margin-top: 0.25rem;
		font-size: 1rem;
		font-weight: 500;
		line-height: 130%;
		max-width: 16rem;
	}
}

.about {
	// .about__body
	&__body {
		margin-top: 2rem;
	}
	// .about__info
	&__info {
		padding-top: rem(48);
		max-width: 35.5rem;
		@media (min-width: $md1) {
			padding-left: 3.5rem;
		}
	}
	// .about__desc
	&__desc {
		line-height: 140%;
		& strong {
			font-weight: 600;
			text-transform: uppercase;
		}
		display: flex;
		flex-direction: column;
		gap: 1.125rem;
	}
	// .about__btn
	&__btn {
		margin-top: 1.875rem;
	}
	// .about__image
	&__image {
	}
	// .about__image
	&__image {
		& img {
			border-radius: rem(16);
		}
	}
}

.services {
	// .services__body
	&__body {
		margin-top: 2rem;
		border-radius: 1rem;
		background: #6b806f;
		padding: 2.5rem 2rem 2rem 3.62rem;
		display: flex;
		gap: 5.75rem;
	}
	// .services__info
	&__info {
		max-width: 18.44238rem;
		padding-top: 1.25rem;
	}
	// .services__desc
	&__desc {
		font-size: 1rem;
		line-height: 140%;
		display: flex;
		flex-direction: column;
		gap: 1.25rem;
	}
	// .services__logo
	&__logo {
		margin-top: 3.12rem;
		max-width: 18.44238rem;
	}
}

.reasons {
	// .reasons__body
	&__body {
		margin-top: 2rem;
	}
	// .reasons__image
	&__image {
		& img {
			border-radius: 1rem;
		}
		height: 100%;
	}
	// .reasons__list
	&__list {
		color: #fff;
		font-size: 1.125rem;
		font-weight: 500;
		line-height: 140%;
		text-transform: uppercase;
	}
	// .reasons__list-item
	&__list-item {
		border-radius: 1rem;
		background: #6b806f;
		color: #fff;
		font-size: 1.125rem;
		font-weight: 500;
		line-height: 140%;
		text-transform: uppercase;
		padding: 0.9rem 1.56rem;
		&:not(:last-child) {
			margin-bottom: 1rem;
		}
	}
}

.clients {
	// .clients__prev
	&__prev {
	}
	// .clients__next
	&__next {
	}
	// .clients__body
	&__body {
		margin-top: rem(40);
		display: flex;
	}
	// .clients__info
	&__info {
		padding-top: rem(102);
		flex: 0 0 rem(452);
		padding-right: rem(52);
		position: relative;
		@media (min-width: $md1) {
			padding-left: 3.5rem;
		}
		&::before {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			width: 100vw;
			height: 100%;
			background: #252f28;
			z-index: 2;
		}
	}
	// .clients__desc
	&__desc {
		position: relative;
		z-index: 3;
		display: flex;
		flex-direction: column;
		gap: 1.125rem;
		line-height: 140%;
	}
	// .clients__btn
	&__btn {
		margin-top: rem(32);
		position: relative;
		z-index: 3;
	}
	// .clients__slider
	&__slider {
		overflow: visible;
		min-width: 0;
		z-index: 1;
		margin-left: 0;
	}
	// .clients__slide
	&__slide {
		position: relative;
		width: rem(320);
		border-radius: 1rem;
		height: auto;
		overflow: hidden;
		display: flex;
		justify-content: center;
		align-items: center;
		&::before {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 2;
			transition: color 0.3s ease;
			color: rgba($color: #6b806f, $alpha: 0.7);
			font-size: 8rem;
		}
		@media (any-hover: hover) {
			&:hover {
				&::before {
					color: rgba($color: #6b806f, $alpha: 1);
				}
			}
		}
	}
}

.why {
	// .why__title
	&__title {
	}
	// .why__hint
	&__hint {
		margin-top: 2.5rem;
	}
	// .why__card
	&__card {
		border-radius: 1rem;
		background: #6b806f;
		padding: 2.5rem 2.5rem 1.875rem;
		display: flex;
		flex-direction: column;
		min-height: 13.9375rem;
		height: 100%;
	}
	// .why__card-title
	&__card-title {
		font-size: 1.125rem;
		font-weight: 600;
		text-transform: uppercase;
	}
	// .why__card-desc
	&__card-desc {
		margin-top: 1rem;
		font-size: 1rem;
		font-weight: 500;
		line-height: 130%;
	}
	// .why__image
	&__image {
		height: 100%;
		& img {
			border-radius: rem(16);
		}
	}
}

.faq {
	.section-header {
		padding-left: 0;
	}
	// .faq__body
	&__body {
		margin-top: 2rem;
		border-radius: 1rem;
		background: #6b806f;
		padding: 2.5rem 2rem 2.5rem 2.5rem;
		display: flex;
		align-items: flex-start;
		gap: 2.94rem;
	}
	// .faq__image
	&__image {
		width: 22.625rem;
		flex-shrink: 0;
		& img {
			border-radius: rem(12);
		}
	}
	// .faq__list
	&__list {
	}
}

.consult {
	// .consult__body
	&__body {
		border-radius: 1rem;
		background: #6b806f;
		padding: 2.5rem 2rem 2.5rem 3.875rem;
	}
	// .consult__main
	&__main {
		max-width: 34.1875rem;
	}
	// .consult__title
	&__title {
		font-size: 1.5rem;
		font-weight: 600;
		text-transform: uppercase;
	}
	// .consult__subtitle
	&__subtitle {
		margin-top: 1.5rem;
		font-size: 1rem;
		line-height: 140%;
		max-width: 28.125rem;
	}
	// .consult__form
	&__form {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}
}

.accordion-list {
	flex: 1 1 auto;
	border-top: rem(1) solid #fff;
	// .accordion-list__item
	&__item {
		border-bottom: rem(1) solid #fff;
		counter-increment: num;
		overflow: hidden;
		@for $i from 1 through 10 {
			&:nth-child(#{$i}) {
				.accordion-list__item-caption {
					&::before {
						content: "0" counter(num) "/";
					}
				}
			}
		}
		&::before {
			.accordion-list__item-caption {
				content: counter(num) "/";
				text-transform: uppercase;
			}
		}
	}
	// .accordion-list__item-caption
	&__item-caption {
		font-size: 1.25rem;
		font-weight: 500;
		padding: 0.9rem 1.5rem 0.9rem 0;
		display: flex;
		align-items: center;
		gap: rem(30);
		transition: opacity 0.3s ease;
		cursor: pointer;

		&::before {
			color: #dbdbdb;
			font-size: 1rem;
		}
		&::after {
			content: "\e907";
			@extend %ic;
			margin-left: auto;
			width: 1.125rem;
			height: 1.125rem;
			font-size: 1.125rem;
			flex-shrink: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			transition: transform 0.3s ease;
		}
		&.active {
			&::after {
				content: "\e904";
				transform: rotate(360deg);
			}
		}

		@media (any-hover: hover) {
			&:hover {
				opacity: 0.75;
			}
		}
	}
	// .accordion-list__item-body
	&__item-body {
		padding-bottom: 0.9rem;
		display: none;
	}
}

.contacts {
	.section-header {
		padding-left: 0;
	}
	// .contacts__body
	&__body {
		margin-top: 2.06rem;
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		padding: 2.5rem 1.875rem 2.5rem 2.5rem;
	}
	// .contacts__main
	&__main {
		position: relative;
		z-index: 2;
		border-radius: 0.75rem;
		background: #6b806f;
		padding: 1.875rem 2rem 1.25rem 2rem;
		max-width: 20.75rem;
		width: 100%;
	}
	// .contacts__caption
	&__caption {
		font-size: 1.25rem;
		font-weight: 600;
		text-transform: uppercase;
	}
	// .contacts__list
	&__list {
		margin-top: 1.25rem;
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}
	// .contacts__item
	&__item {
	}
	// .contacts__link
	&__link {
		border-radius: 0.5rem;
		background: #fff;
		color: #3f3f3f;
		display: flex;
		align-items: center;
		gap: 0.75rem;
		padding: 0.5rem 0.69rem;
		font-size: 1rem;
		font-weight: 600;

		&::before {
			font-size: 1.25rem;
			width: 1.5rem;
			height: 1.5rem;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		transition: background-color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				background-color: darken($color: #fff, $amount: 10);
			}
		}
	}
	// .contacts__socials
	&__socials {
		margin-top: 2rem;
	}
	// .contacts__socials-caption
	&__socials-caption {
		font-size: 1rem;
		font-weight: 600;
		text-transform: uppercase;
	}
	// .contacts__socials-items
	&__socials-items {
		margin-top: 0.5rem;
		display: flex;
		align-items: center;
		gap: 0.75rem;
	}
	// .contacts__socials-item
	&__socials-item {
		font-size: 2rem;
		color: #ceb388;
		transition: color 0.3s ease;
		&.icon-youtube {
			font-size: 2.25rem;
		}
		@media (any-hover: hover) {
			&:hover {
				color: darken($color: #ceb388, $amount: 10);
			}
		}
	}
	// .contacts__balloon
	&__balloon {
		border-radius: 0.75rem;
		background: #6b806f;
		position: relative;
		z-index: 2;
		padding: 1.06rem 1.5rem 1rem 0.37rem;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}
	// .contacts__address
	&__address {
		display: flex;
		align-items: center;
		gap: 0.94rem;
		color: #fffdfd;
		font-size: 1.125rem;
		font-weight: 600;
		&::before {
			width: 1.25rem;
			height: 1.25rem;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
	// .contacts__btn
	&__btn {
		margin-top: 0.625rem;
		padding: 0.5rem 1rem;
		border-radius: 0.5rem;
	}
	// .contacts__map
	&__map {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: 1rem;
		overflow: hidden;
		& iframe {
			width: 100%;
			height: 100%;
		}
	}
}
