// Использование модулей SASS
@use "sass:math";
// Использование модулей SASS
// ======================================МИКСИНЫ==============================================
@import "mixins";
// ======================================МИКСИНЫ==============================================

// ======================================ШРИФТЫ===============================================
@import "fonts";
@import "icons";
// ======================================ШРИФТЫ===============================================

// Шрифт по умолчанию
$fontfamily: "Montserrat";
$font-inter: "Inter";
// Шрифт по умолчанию

$md1: 1399.98px;
$md2: 1199.98px;
$md3: 991.98px;
$md4: 743.98px;
$md5: 575.98px;

// ПЕРЕМЕННЫЕ

$minWidth: 360; // Минимальная ширина страницы
$maxWidth: 1920; // Ширина макета
$maxWidthContainer: rem(1326); // Максимальная ширина ограничивающего контейнера
$containerPadding: 30;

// ЦВЕТА

$accent: #ceb388;
$text: #fff;

// Z-Index

$ui-index-1: 1; // Для наполняющих элементов в общем потоке
$ui-index-2: 2; // Для наполняющих элементов в общем потоке
$ui-index-3: 3; // Для масок
$ui-index-4: 4; // Для сайдбаров
$ui-index-5: 5; // Для модалок
$ui-index-6: 6; // Для элементов, перекрывающих все

// ОБЩИЕ ПАРАМЕТРЫ

@import "ui";
@import "modules/grid";
@import "forms";
@import "common";
@import "header";
@import "footer";

//=======================================

@import "pages/home";

.hero {
	padding: 1rem 0 0;
	// .hero__header
	&__header {
		display: flex;
		align-items: flex-start;
		background: url("@img/decor/hero-decor.svg") right center / 50% auto no-repeat;
		flex-direction: column;
		@media (min-width: $md4) {
			flex-direction: row;
		}
		@media (min-width: $md3) {
			background: url("@img/decor/hero-decor.svg") right center / contain no-repeat;
		}
	}
	// .hero__offer
	&__offer {
		padding-bottom: 2rem;
		flex: 1 1 auto;
		padding-top: 2.5rem;
		@media (min-width: $md2) {
			padding-top: 5rem;
		}
		@media (min-width: $md1) {
			padding-left: 3.5rem;
		}
	}
	// .hero__title
	&__title {
		font-weight: 600;
		letter-spacing: em(-0.1125, 3.75);
		text-transform: uppercase;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: em(1, 3.75);
		font-size: 3.25rem;
		@media (min-width: $md2) {
			font-size: 3.75rem;
		}
		& small {
			font-size: em(1.5, 3.75);
			font-weight: 500;
			letter-spacing: em(-0.03, 3.75);
			text-transform: none;
			@media (min-width: $md3) {
				max-width: em(25, 3.75);
			}
		}
	}
	// .hero__subtitle
	&__subtitle {
		font-weight: 500;
		max-width: 34.75rem;
		margin-top: 2rem;
		@media (min-width: $md3) {
			font-size: 1.125rem;
		}
		@media (min-width: $md2) {
			margin-top: 2.5rem;
			font-size: 1.25rem;
		}
	}
	// .hero__btn
	&__btn {
		max-width: 19.9375rem;
		width: 100%;
		margin-top: 2rem;
		@media (min-width: $md3) {
			margin-top: 3rem;
		}
	}
	// .hero__image
	&__image {
		@media (min-width: $md3) {
			margin-top: -1.5rem;
			display: flex;
			align-items: flex-end;
			max-width: 52%;
			height: 100%;
			align-self: flex-end;
		}
	}
	// .hero__benefits
	&__benefits {
		@media (min-width: $md1) {
			margin-top: -9rem;
		}
	}
	// .hero__benefit
	&__benefit {
		height: 100%;
		background: #6b806f;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		padding: 1.75rem 1.75rem 3rem 1.75rem;
		border-radius: 1rem;
	}
	// .hero__benefit-num
	&__benefit-num {
		font-size: 4rem;
		font-weight: 600;
	}
	// .hero__benefit-desc
	&__benefit-desc {
		margin-top: 0.25rem;
		font-size: 1rem;
		font-weight: 500;
		line-height: 130%;
		max-width: 16rem;
	}
}

.about {
	// .about__body
	&__body {
		margin-top: 2rem;
	}
	// .about__info
	&__info {
		padding-top: rem(48);
		max-width: 35.5rem;
		@media (min-width: $md1) {
			padding-left: 3.5rem;
		}
	}
	// .about__desc
	&__desc {
		line-height: 140%;
		& strong {
			font-weight: 600;
			text-transform: uppercase;
		}
		display: flex;
		flex-direction: column;
		gap: 1.125rem;
	}
	// .about__btn
	&__btn {
		margin-top: 1.875rem;
	}
	// .about__image
	&__image {
	}
	// .about__image
	&__image {
		& img {
			border-radius: rem(16);
		}
	}
}

.services {
	// .services__body
	&__body {
		margin-top: 2rem;
		border-radius: 1rem;
		background: #6b806f;
		display: flex;
		gap: 1.5rem;
		flex-direction: column;
		padding: 2.5rem 1.75rem;
		@media (min-width: $md3) {
			padding: 2.5rem 2rem 2rem 3.62rem;
			flex-direction: row;
			gap: 5.75rem;
		}
	}
	// .services__info
	&__info {
		@media (min-width: $md3) {
			max-width: 18.44238rem;
			padding-top: 1.25rem;
			flex-shrink: 0;
			width: 100%;
		}
	}
	// .services__desc
	&__desc {
		font-size: 1rem;
		line-height: 140%;
		display: flex;
		flex-direction: column;
		gap: 1.25rem;
	}
	// .services__logo
	&__logo {
		margin-top: 3.12rem;
		max-width: 18.44238rem;
	}
}

.reasons {
	// .reasons__body
	&__body {
		margin-top: 2rem;
	}
	// .reasons__image
	&__image {
		& img {
			border-radius: 1rem;
		}
		height: 100%;
	}
	// .reasons__list
	&__list {
		color: #fff;
		font-size: 1.125rem;
		font-weight: 500;
		line-height: 140%;
		text-transform: uppercase;
	}
	// .reasons__list-item
	&__list-item {
		border-radius: 1rem;
		background: #6b806f;
		color: #fff;
		font-size: 1.125rem;
		font-weight: 500;
		line-height: 140%;
		text-transform: uppercase;
		padding: 0.9rem 1.56rem;
		&:not(:last-child) {
			margin-bottom: 1rem;
		}
	}
}

.clients {
	// .clients__prev
	&__prev {
	}
	// .clients__next
	&__next {
	}
	// .clients__body
	&__body {
		margin-top: rem(40);
		display: flex;
		flex-direction: column-reverse;
		row-gap: 2rem;
		@media (min-width: $md4) {
			flex-direction: row;
		}
	}
	// .clients__info
	&__info {
		@media (min-width: $md4) {
			position: relative;
			padding-top: rem(102);
			padding-right: rem(52);
			flex: 0 0 rem(320);
			&::before {
				content: "";
				position: absolute;
				top: 0;
				right: 0;
				width: 100vw;
				height: 100%;
				background: #252f28;
				z-index: 2;
			}
		}
		@media (min-width: $md2) {
			flex: 0 0 rem(452);
		}
		@media (min-width: $md1) {
			padding-left: 3.5rem;
		}
	}
	// .clients__desc
	&__desc {
		position: relative;
		z-index: 3;
		display: flex;
		flex-direction: column;
		gap: 1.125rem;
		line-height: 140%;
	}
	// .clients__btn
	&__btn {
		margin-top: rem(32);
		position: relative;
		z-index: 3;
	}
	// .clients__slider
	&__slider {
		overflow: visible;
		min-width: 0;
		z-index: 1;
		margin-left: 0;
		max-width: 100%;
	}
	// .clients__slide
	&__slide {
		position: relative;
		width: rem(320);
		border-radius: 1rem;
		height: auto;
		overflow: hidden;
		display: flex;
		justify-content: center;
		align-items: center;
		&::before {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 2;
			transition: color 0.3s ease;
			color: rgba($color: #6b806f, $alpha: 0.7);
			font-size: 4rem;
			@media (min-width: $md4) {
				font-size: 8rem;
			}
		}
		@media (any-hover: hover) {
			&:hover {
				&::before {
					color: rgba($color: #6b806f, $alpha: 1);
				}
			}
		}
	}
}

.why {
	// .why__title
	&__title {
	}
	// .why__hint
	&__hint {
		margin-top: 2.5rem;
	}
	// .why__card
	&__card {
		border-radius: 1rem;
		background: #6b806f;
		padding: 2.5rem 2.5rem 1.875rem;
		display: flex;
		flex-direction: column;
		min-height: 13.9375rem;
		height: 100%;
	}
	// .why__card-title
	&__card-title {
		font-size: 1.125rem;
		font-weight: 600;
		text-transform: uppercase;
	}
	// .why__card-desc
	&__card-desc {
		margin-top: 1rem;
		font-size: 1rem;
		font-weight: 500;
		line-height: 130%;
	}
	// .why__image
	&__image {
		height: 100%;
		& img {
			border-radius: rem(16);
		}
	}
}

.faq {
	.section-header {
		padding-left: 0;
	}
	// .faq__body
	&__body {
		margin-top: 2rem;
		border-radius: 1rem;
		background: #6b806f;
		padding: 2.5rem 2rem 2.5rem 2.5rem;
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
		@media (min-width: $md3) {
			gap: 2.94rem;
			align-items: flex-start;
			flex-direction: row;
		}
	}
	// .faq__image
	&__image {
		@media (min-width: $md3) {
			width: 22.625rem;
			flex-shrink: 0;
		}
		& img {
			border-radius: rem(12);
		}
	}
	// .faq__list
	&__list {
	}
}
